openapi: 3.1.0
info:
  title: Portfolio
  description: |
    The Portfolio APIs retrieve and update information about Portfolios, Portfolio items (Applications), Portfolio Subitems (Projects), Branches and Tags.

      **Base path change and deprecation notice**

      The base path for the Portfolio service is changing (from `/api/portfolio` to `/api/portfolios`). The `/api/portfolio` base path will continue to function until `Tue, 24 Mar 2026 05:00:00 GMT`.

      Additionally, several endpoints are being deprecated. Endpoints that are being deprecated include additional properties in response headers:

      ```
        "Deprecation":  "Mon, 14 Jul 2025  23:59:59 GMT",
        "Link":         "New version of API link; rel=\"alternate\"",
        "Sunset":       "Tue, 24 Mar 2026 05:00:00 GMT"
      ```

      * `Deprecation`: The date and time when a resource will be deprecated. After this date, the resource may be removed from future versions of the API.
      * `Link`: A link to a supported endpoint that replicates the functionality of a deprecated one.
      * `Sunset`: The date and time when a resource will be removed, and no longer be available.

      `Note`: Media type names used in Polaris APIs were renamed and no longer include “synopsys”.
              Although media types that include “synopsys” were removed from the API specifications, existing endpoints will continue to support them until Tue, 24 Mar 2026 05:00:00 GMT.
              Please update your scripts to use the new media types.
  version: 1.0.0
  contact:
    name: Black Duck, Inc.
    url: https://polaris.blackduck.com
servers:
  - url: https://polaris.blackduck.com/api/portfolios
  - url: https://polaris.blackduck.com/api/portfolio
tags:
  - name: Portfolios
    description: |
      Retrieves information about the Portfolios.
  - name: Portfolio items
    description: |
      Retrieves information about Portfolio items.
  - name: Applications
    description: |
      Retrieves information about Applications.
  - name: Portfolio Subitems
    description: |
      Retrieves information about Portfolio subitems.
  - name: Projects
    description: |
      Retrieves information about projects.
  - name: Branches
    description: |
      Retrieves information about branches associated with a portfolio subitem in an organization.
  - name: Profiles
    description: |
      Retrieves information about profiles associated with a portfolio subitem in an organization.
  - name: Artifacts
    description: |
      Retrieves information about artifacts associated with a portfolio item in an organization.
  - name: Portfolio catalog
    description: |
      Retrieves information about the Portfolio catalog.
  - name: Tags
    description: |
      Retrieves information about tags associated with a portfolio item.
  - name: Entitlements
    description: |
      Retrieves information about entitlements allocated to a portfolio item.
  - name: Application Entitlements
    description: |
      Retrieves information about entitlements allocated to an application.
  - name: Application Entitlement Quantity
    description: |
      Retrieves information about number of entitlements assigned to an application.
  - name: Portfolio Entitlements
    description: |
      Retrieves information about entitlements available to a portfolio
  - name: Project Sub-Resource
    description: |
      Retrieves information about project sub-resources(branch and profile) associated with a project in an organization.
  - name: Organization Settings
    description: |
      Settings for an organization
  - name: Labels
    description: |
      Labels for an organization
  - name: Risk Scoring
    description: |
      Risk scoring settings for an organization
  - name: Dashboard
    description: |
      Retrieves information about the Portfolio dashboard.
security:
  - ApiKeyAuth: []
paths:
  /portfolios:
    get:
      operationId: getPortfolios
      tags:
        - Portfolios
      summary: |
        Find all portfolios.
      description: |
        Retrieves a portfolio belonging to an organization. In this release, each organization is limited to one portfolio.
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-1+json:
              schema:
                $ref: "#/components/schemas/PortfoliosGetResponse"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /:
    get:
      operationId: getPortfoliosNew
      tags:
        - Portfolios
      summary: |
        Find All Portfolios.
      description: |
        Retrieves a portfolio belonging to an organization. In this release, each organization is limited to one portfolio.
      responses:
        "200":
          description: Success.
          content:
            application/vnd.polaris.portfolios-1+json:
              schema:
                $ref: "#/components/schemas/NewPortfoliosGetResponse"
        "400":
          description: Bad request.
          content:
            application/problem+json:
              schema:
                $ref: "#/paths/~1applications~1%7Bid%7D~1tags/post/responses/409/content/application~1problem%2Bjson/schema"
              example:
                type: urn:x-portfolio-service:bad-request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the passed request payload is not recognised.
        "500":
          description: Internal server error.
          content:
            application/problem+json:
              schema:
                $ref: "#/paths/~1applications~1%7Bid%7D~1tags/post/responses/409/content/application~1problem%2Bjson/schema"
              example:
                type: urn:x-portfolio-service:internal-server-error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request.
  /portfolios/{id}/portfolio-items:
    post:
      operationId: createPortfolioItem
      tags:
        - Portfolio items
      summary: |
        Create a portfolio item.
      description: |
        Creates a new portfolio item under the portfolio by portfolio ID for the provided organization.

        **Permissions:**
        - Org Admin
        - Organization Application Manager
      parameters:
        - name: id
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
          example: 500a24c2-12e2-480c-8529-5c74a1ecf43a
      requestBody:
        description: Portfolio item to add under the organization's portfolio. At present the only acceptable value is `APPLICATION`.
        content:
          application/vnd.pm.portfolio-items-1+json:
            schema:
              $ref: "#/components/schemas/PortfolioItemPayload"
          application/vnd.pm.portfolio-items-2+json:
            schema:
              $ref: "#/components/schemas/PortfolioItemV2Payload"
        required: true
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-items-1+json:
              schema:
                $ref: "#/components/schemas/PortfolioItemPayload"
            application/vnd.pm.portfolio-items-2+json:
              schema:
                $ref: "#/components/schemas/PortfolioItemV2Payload"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    get:
      operationId: getPortfolioItems
      tags:
        - Portfolio items
      summary: |
        Find all portfolio items.
      description: |
        Gets all portfolio items for the specified organization matching the filtering criteria.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: id
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: name
          in: query
          description: Portfolio item name.
          example: demo
          schema:
            type: string
        - name: description
          in: query
          description: Portfolio item description
          example: demo portfolio item
          schema:
            type: string
        - name: _filter
          in: query
          description: >-
            Filters the collection of portfolio items belonging to an organization. The filter follows the [RSQL syntax](https://github.com/jirutka/rsql-parser). Acceptable values for filtering are
            `id`, `name`, `itemType` and `description`.
          example: name=='demo'
          schema:
            type: string
        - name: _sort
          in: query
          description: >-
            Sorts portfolio items by attribute. Default sorting method is `name` in `ascending` order. The format of the `_sort` parameter is `{field_name}|{asc|desc},{field_name}|{asc|desc},...`.
            Acceptable values for sorting are `id`, `name`, `itemType`, and `description`.
          schema:
            type: string
        - name: _offset
          in: query
          description: >
            Returns results, starting from the specified position within the response. For example, if the offset is set to 5, then the first 5 records are skipped and the 6th record is the first
            record returned. Default value is 0. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            format: int32
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the specified limit. The default is 100. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request."
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-items-1+json:
              schema:
                $ref: "#/components/schemas/PortfolioItemGetResponse"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /portfolio-items/{id}:
    patch:
      operationId: updatePortfolioItem
      tags:
        - Portfolio items
      summary: |
        Update portfolio item fields.
      description: |
        Updates fields in a portfolio item using portfolio item ID for the specified organization

        **Permissions:**
         - Org Admin
         - Organization Application Manager
      parameters:
        - name: id
          in: path
          description: Portfolio Item UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Either or all portfolio item attributes can be updated.
        content:
          application/vnd.pm.portfolio-items-1+json:
            schema:
              type: object
              description: |
                Specifies changes to an application. By omitting a field from this object, the server understands that no change should be made to that field.
              properties:
                name:
                  type: string
                  description: A new name for the application.
                  example: My even cooler application
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  maxLength: 2048
                  description: A new description for the application.
                  example: Version 2.0 of my application is 20% cooler than before
                autoDeleteSetting:
                  type: boolean
                  default: false
                  description: Used to enable/disable the inactive branch auto-delete setting
                branchRetentionPeriodSetting:
                  type: boolean
                  default: false
                  minimum: 1
                  maximum: 90
                  description: Used to change the inactive branch auto-delete idle duration
                labelIds:
                  $ref: "#/components/schemas/DashboardCollection/properties/_items/items/properties/labelIds"
                riskFactorMapping:
                  type: object
                  additionalProperties:
                    type: string
                    format: uuid
                  description: |
                    A mapping of risk factors to risk categories for a specific application. The keys are the `id`s of the risk factors,
                    and the values are the `id`s of the risk categories. In this manner, an application could be configured with e.g.
                    `Business Criticality = Non-Critical, Network Exposure Level = Public Internet` (except instead of the names, the
                    `id`s would be used).

                    When used in a request, e.g. to modify an existing application, the entries in this object can be omitted (resulting
                    in no change) or set to `null` (resulting in the mapping for that risk factor being removed).
                  example:
                    63be6132-e965-4df9-9ead-2c843239ea8f: feef3fe1-3462-4828-b621-c5413965662b
                    019644ff-7291-7ec2-b37f-a5eda53178e6: d9fa8443-4dbe-43d1-98a1-f0e2d9c1147e
      responses:
        "200":
          description: Portfolio items successfully updated.
          content:
            application/vnd.pm.portfolio-items-1+json:
              schema:
                $ref: "#/paths/~1portfolio-items~1%7Bid%7D/patch/requestBody/content/application~1vnd.pm.portfolio-items-1%2Bjson/schema"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    get:
      operationId: getPortfolioItemById
      tags:
        - Portfolio items
      summary: |
        Find a portfolio item by ID.
      description: |
        Retrieves a portfolio item by portfolio item ID for the specified organization.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: id
          in: path
          description: Portfolio item UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Portfolio item details.
          content:
            application/vnd.pm.portfolio-items-1+json:
              schema:
                $ref: "#/components/schemas/PortfolioItemResponse"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    delete:
      operationId: deletePortfolioItem
      tags:
        - Portfolio items
      summary: |
        Delete a portfolio item.
      description: |
        Deletes a portfolio item by portfolio item ID for specified organization.

        **Permissions:**
        - Org Admin
        - Organization Application Manager
      parameters:
        - name: id
          in: path
          description: Portfolio item UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Success.
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "403":
          $ref: "#/paths/~1tags/get/responses/403"
        "404":
          $ref: "#/paths/~1tags/get/responses/404"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /{portfolioId}/applications:
    post:
      operationId: createApplication
      tags:
        - Applications
      summary: |
        Create an application.
      description: |
        Creates a new application under the portfolio by portfolio ID for the provided organization.

        **Permissions:**
        - Org Admin
        - Organization Application Manager
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
          example: 500a24c2-12e2-480c-8529-5c74a1ecf43a
      requestBody:
        description: Portfolio item to add under the organization's portfolio.
        content:
          application/vnd.polaris.portfolios.applications-1+json:
            schema:
              type: object
              required:
                - name
                - organizationId
                - itemType
                - subscriptionTypeUsed
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: My Application
                  description: Name of the new application. Must not be empty.
                description:
                  type: string
                  maxLength: 2048
                  description: A description for the application
                  example: This application is very cool.
                inTrash:
                  type: boolean
                  description: Used to preemptively soft-delete the application after creating it
                  example: false
                subscriptionTypeUsed:
                  type: string
                  enum:
                    - PARALLEL
                    - CONCURRENT
                  description: Type of subscription used by the application
                  example: PARALLEL
                entitlements:
                  type: object
                  description: |
                    Entitlements associated with the application. This property is omitted when it would otherwise be null.
                  properties:
                    entitlementIds:
                      type: array
                      items:
                        type: string
                        format: uuid
                        example: 01964538-0ea0-78e5-94ad-f86c5c3dccde
                    quantity:
                      type: integer
                      example: 1
                labelIds:
                  $ref: "#/components/schemas/DashboardCollection/properties/_items/items/properties/labelIds"
                riskFactorMapping:
                  $ref: "#/paths/~1portfolio-items~1%7Bid%7D/patch/requestBody/content/application~1vnd.pm.portfolio-items-1%2Bjson/schema/properties/riskFactorMapping"
        required: true
      responses:
        "200":
          description: Success.
          content:
            application/vnd.polaris.portfolios.applications-1+json:
              schema:
                type: object
                description: Details of an application in a response
                required:
                  - id
                  - name
                  - description
                  - subscriptionTypeUsed
                  - portfolioId
                  - inTrash
                  - createdAt
                  - updatedAt
                  - autoDeleteSetting
                  - branchRetentionPeriodSetting
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Unique identifier for the application
                    example: 01964535-e731-73a7-ad8c-7076a877bfb7
                  name:
                    type: string
                    minLength: 1
                    maxLength: 255
                    description: Name of the application
                    example: My Application
                  description:
                    type: string
                    maxLength: 2048
                    description: A longer description of the application
                    example: This is a sample application. It does many wonderful things.
                  subscriptionTypeUsed:
                    $ref: "#/paths/~1%7BportfolioId%7D~1applications/post/requestBody/content/application~1vnd.polaris.portfolios.applications-1%2Bjson/schema/properties/subscriptionTypeUsed"
                  labelIds:
                    $ref: "#/components/schemas/DashboardCollection/properties/_items/items/properties/labelIds"
                  entitlements:
                    $ref: "#/paths/~1%7BportfolioId%7D~1applications/post/requestBody/content/application~1vnd.polaris.portfolios.applications-1%2Bjson/schema/properties/entitlements"
                  portfolioId:
                    type: string
                    format: uuid
                    description: Unique identifier for the portfolio to which the application belongs
                    example: 01964538-8e00-7dd2-8cd0-e53cb7dbb095
                  riskFactorMapping:
                    $ref: "#/paths/~1portfolio-items~1%7Bid%7D/patch/requestBody/content/application~1vnd.pm.portfolio-items-1%2Bjson/schema/properties/riskFactorMapping"
                  inTrash:
                    type: boolean
                    description: Indicates if the application is in the trash
                    example: false
                    default: false
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the application was created
                    example: "2023-10-01 12:00:00"
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the application was last updated
                    example: "2025-03-12 08:45:00"
                  autoDeleteSetting:
                    type: boolean
                    description: >
                      Indicates whether non-default branches within the application should be automatically deleted after a number of days without scanning activity (the number of days is configured
                      in the `branchRetentionPeriodSetting` property).
                    example: true
                    default: false
                  branchRetentionPeriodSetting:
                    type: integer
                    minimum: 1
                    maximum: 90
                    description: >
                      Sets the number of days after which the `autoDeleteSetting` will cause non-default branches to be automatically deleted due to inactivity. Ignored when `autoDeleteSetting` is
                      false.
                    default: 30
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
    get:
      operationId: getApplications
      tags:
        - Applications
      summary: |
        Find all Applications.
      description: |
        Gets all applications for the specified portfolio matching the filtering criteria.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: name
          in: query
          description: Application name.
          example: demo
          schema:
            type: string
        - name: description
          in: query
          description: Application description
          example: demo Application
          schema:
            type: string
        - name: _filter
          in: query
          description: >-
            Filters the collection of applications belonging to an organization. The filter follows the [RSQL syntax](https://github.com/jirutka/rsql-parser). Acceptable values for filtering are `id`,
            `name`, `labelId` and `description`.
          example: name=='demo'; labelId=in=('b268cced-f7ec-4b47-b80b-d8588b17e640','344df29a-e927-4718-a69d-cf959f122c6b')
          schema:
            type: string
        - name: _sort
          in: query
          description: >-
            Sorts applications by attribute. Default sorting method is `name` in `ascending` order. The format of the `_sort` parameter is `{field_name}|{asc|desc},{field_name}|{asc|desc},...`.
            Acceptable values for sorting are `id`, `name`, and `description`.
          schema:
            type: string
        - name: _offset
          in: query
          description: >
            Returns results, starting from the specified position within the response. For example, if the offset is set to 5, then the first 5 records are skipped and the 6th record is the first
            record returned. Default value is 0. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            format: int32
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the specified limit. The default is 100. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request."
          schema:
            type: integer
            format: int32
            example: 10
        - name: _includeLabelIds
          in: query
          description: Whether to include label IDs in the response.
          required: false
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: Success.
          content:
            application/vnd.polaris.portfolios.applications-1+json:
              schema:
                type: object
                description: A list of applications, presented in a paginated format
                required:
                  - _items
                  - _links
                  - _collection
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/paths/~1%7BportfolioId%7D~1applications/post/responses/200/content/application~1vnd.polaris.portfolios.applications-1%2Bjson/schema"
                  _links:
                    type: array
                    items:
                      properties:
                        href:
                          type: string
                          format: url
                        rel:
                          type: string
                          default: self
                        method:
                          type: string
                          default: GET
                    example:
                      - href: https://polaris.blackduck.com/api/portfolios/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0/applications?_offset=0&_limit=10
                        rel: first
                        method: GET
                      - href: https://polaris.blackduck.com/api/portfolios/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0/applications?_offset=0&_limit=10
                        rel: next
                        method: GET
                      - href: https://polaris.blackduck.com/api/portfolios/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0/applications?_offset=0&_limit=10
                        rel: prev
                        method: GET
                      - href: https://polaris.blackduck.com/api/portfolios/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0/applications?_offset=100&_limit=10
                        rel: last
                        method: GET
                      - href: https://polaris.blackduck.com/api/portfolios/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0/applications?_offset=0&_limit=10
                        rel: self
                        method: GET
                  _collection:
                    $ref: "#/components/schemas/LabelsResponse/properties/_collection"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
  /{portfolioId}/applications/{id}:
    patch:
      operationId: updateApplication
      tags:
        - Applications
      summary: |
        Update application fields.
      description: |
        Updates fields in a portfolio item using portfolio item ID for the specified organization

        **Permissions:**
         - Org Admin
         - Organization Application Manager
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: Application UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Either or all application attributes can be updated.
        content:
          application/vnd.polaris.portfolios.applications-1+json:
            schema:
              $ref: "#/paths/~1portfolio-items~1%7Bid%7D/patch/requestBody/content/application~1vnd.pm.portfolio-items-1%2Bjson/schema"
      responses:
        "200":
          description: Application successfully updated.
          content:
            application/vnd.polaris.portfolios.applications-1+json:
              schema:
                $ref: "#/paths/~1%7BportfolioId%7D~1applications/post/responses/200/content/application~1vnd.polaris.portfolios.applications-1%2Bjson/schema"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
    get:
      operationId: getApplicationById
      tags:
        - Applications
      summary: |
        Find an Application by ID.
      description: |
        Retrieves an Application by application ID for the specified portfolio.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: Application UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Application details.
          content:
            application/vnd.polaris.portfolios.applications-1+json:
              schema:
                $ref: "#/paths/~1%7BportfolioId%7D~1applications/post/responses/200/content/application~1vnd.polaris.portfolios.applications-1%2Bjson/schema"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
    delete:
      operationId: deleteApplication
      tags:
        - Applications
      summary: |
        Delete an application.
      description: |
        Deletes an applicatioin by applicatioin ID for specified portfolio.

        **Permissions:**
        - Org Admin
        - Organization Application Manager
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: Application UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Success.
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "403":
          $ref: "#/paths/~1tags/get/responses/403"
        "404":
          $ref: "#/paths/~1tags/get/responses/404"
        "500":
          $ref: "#/paths/~1/get/responses/500"
  /portfolio-sub-items:
    get:
      operationId: getPortfolioSubItemsByFilter
      tags:
        - Portfolio Subitems
      summary: |
        Find portfolio subitems using filter throughout organization
      description: |
        Retrieves all portfolio subitems using filters for an organization

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: _filter
          in: query
          description: >-
            Filters the collection of subitems for the specified filters. The filter follows [RSQL syntax](https://github.com/jirutka/rsql-parser). The filter will support id, name, description,
            applicationId, createdAt and updatedAt.
          example: _filter=applicationId=in=('500a24c2-12e2-480c-8529-5c74a1ecf43a','d1f14074-e4e5-4d10-aaea-cb4e43be4741');id=in=('473b1817-cf4f-4d0d-a256-8a95f6d33ca0')&_offset=0&_limit=2
          schema:
            type: string
        - name: _sort
          in: query
          description: >-
            Sorts subitems on the specified attributes. Default sorting method is `name` in `ascending` order. The format of the `_sort` parameter is
            `{field_name}|{asc|desc},{field_name}|{asc|desc},...`. Accepted values for sorting are `id`, `name`, `subItemType`, and `description`.
          example: name|asc
          schema:
            type: string
        - name: _offset
          in: query
          description: >
            Returns results, starting from the specified position within the response. For example, if the offset is set to 5, then the first 5 records are skipped and the 6th record is the first
            record returned. Default value is 0. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            format: int32
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the specified limit. The default is 100. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request."
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-subitems-1+json:
              schema:
                $ref: "#/components/schemas/PortfolioSubItemsGetResponse"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /portfolio-items/{id}/portfolio-sub-items:
    post:
      operationId: createPortfolioSubItem
      tags:
        - Portfolio Subitems
      summary: |
        Create a portfolio subitem.
      description: |
        Creates a new portfolio subitem for a portfolio item by providing portfolio item ID for the specified organization.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
      parameters:
        - name: id
          in: path
          description: Portfolio item UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        description: >
          Add a portfolio subitem to a portfolio item for an organization. The property `subItemType` is required and the possible values are `PROJECT` for SAST/SCA projects and `DAST` for DAST
          projects. For creating the DAST projects, profile has to be created at the same time.
        content:
          application/vnd.pm.portfolio-subitems-1+json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/PortfolioSubItemSastScaPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastImportSettingPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSimpleFormPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSeleniumPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSamlPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingNonePayload"
            examples:
              SAST/SCA:
                description: An example for SAST/SCA project sub type
                value:
                  name: Sast Project
                  description: test sast project
                  subItemType: PROJECT
                  defaultBranch:
                    name: dev-branch
                    description: default branch for dev
                    source: USER
                    isDefault: true
              DAST-Import:
                description: An example for DAST project sub type
                value:
                  name: DastProject
                  description: test dast project
                  subItemType: DAST
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: dast import profile
                    importSettings:
                      settingArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f0
                  entryPointPrivate: false
              DAST-Manual-None:
                description: An example for DAST project sub type
                value:
                  name: Dast Project
                  description: test dast project
                  subItemType: DAST
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: dast manual profile
                    manualSettings:
                      authentication:
                        type: v0
                        mode: NONE
                  entryPointPrivate: false
              DAST-Manual-Forms:
                description: An example for DAST project sub type
                value:
                  name: DastProject
                  description: test dast project
                  subItemType: DAST
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: simple form mode profile
                    performActiveAttack: true
                    manualSettings:
                      allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                      authentication:
                        type: v0
                        mode: FORMS
                        simpleFormSetting:
                          loginUrl: http://login.com
                          fields:
                            userName: synopsys
                            password: password
                  entryPointPrivate: false
              DAST-Manual-Saml:
                description: An example for DAST project sub type
                value:
                  name: Dast Project
                  description: test dast project
                  subItemType: DAST
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: saml mode profile
                    performActiveAttack: true
                    manualSettings:
                      allowedHosts: http://dast-porfile.com, http://127.0.0.1:22766
                      authentication:
                        type: v0
                        mode: SAML
                        samlSetting:
                          ssoLoginUrl: http://example.com
                          fields:
                            userName: synopsys
                            password: password
                          httpHeaders:
                            Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                  entryPointPrivate: false
              DAST-Manual-Selenium:
                description: An example for DAST project sub type
                value:
                  name: Dast Project
                  description: test dast project
                  subItemType: DAST
                  entryPointUrl: http://example.com
                  profile:
                    name: selenium mode profile
                    manualSettings:
                      authentication:
                        type: v0
                        mode: SELENIUM
                        seleniumSetting:
                          sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                  entryPointPrivate: false
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-subitems-1+json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/PortfolioSubItemSastScaResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastImportResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualFormsResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSamlResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSeleniumResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualNoneResponse"
              examples:
                SAST/SCA:
                  description: An example for SAST/SCA project sub type
                  value:
                    id: d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                    name: Sast Project
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    subItemType: PROJECT
                    description: test sast project
                    defaultBranch:
                      id: 2006a516-94e4-49c4-94cc-8a6c2f0ea8ef
                      name: dev-branch
                      description: default branch for dev
                      source: USER
                      isDefault: true
                    autoDeleteSetting: false
                    branchRetentionPeriodSetting: 30
                    autoDeleteSettingsCustomized: false
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                        rel: self
                        method: GET
                DAST-Import:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                DAST-Manual-None:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dast manual profile
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: NONE
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Forms:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: FORMS
                          simpleFormSetting:
                            loginUrl: http://login.com
                            fields:
                              userName: synopsys
                              password: password
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Saml:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: SAML
                          samlSetting:
                            ssoLoginUrl: http://example.com
                            fields:
                              userName: synopsys
                              password: password
                            httpHeaders:
                              Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Selenium:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: SELENIUM
                          seleniumSetting:
                            sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    get:
      operationId: getPortfolioSubItems
      tags:
        - Portfolio Subitems
      summary: |
        Find portfolio subitems in a portfolio item.
      description: |
        Retrieves all portfolio subitems in a portfolio item (through portfolio item ID) for the specified organization matching the filtering criteria.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: id
          in: path
          description: Portfolio item ID.
          required: true
          schema:
            type: string
            format: uuid
        - name: name
          in: query
          description: Portfolio subitem name.
          example: name
          schema:
            type: string
        - name: description
          in: query
          description: Portfolio subitem description
          example: description
          schema:
            type: string
        - name: _filter
          in: query
          description: >-
            Filters the collection of subitems for the specified portfolio item. The filter follows [RSQL syntax](https://github.com/jirutka/rsql-parser). Accepted values for filtering are `id`,
            `name`, `subItemType` and `description`.
          example: name=='demo'
          schema:
            type: string
        - name: _sort
          in: query
          description: >-
            Sorts subitems on the specified attributes. Default sorting method is `name` in `ascending` order. The format of the `_sort` parameter is
            `{field_name}|{asc|desc},{field_name}|{asc|desc},...`. Accepted values for sorting are `id`, `name`, `subItemType`, and `description`.
          example: name|asc
          schema:
            type: string
        - name: _offset
          in: query
          description: >
            Returns results, starting from the specified position within the response. For example, if the offset is set to 5, then the first 5 records are skipped and the 6th record is the first
            record returned. Default value is 0. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            format: int32
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the specified limit. The default is 100. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request."
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-subitems-1+json:
              schema:
                $ref: "#/components/schemas/PortfolioSubItemsCollectionResponse"
              example:
                _items:
                  - id: 2aec7fea-3cf8-40b2-bcd0-53ea308bc545
                    name: "000"
                    description: ""
                    subItemType: PROJECT
                    inTrash: false
                    defaultBranch:
                      id: bd6ed7bf-176c-4a8b-874f-0b553025289a
                      name: polaris_main
                      description: default main branch
                      source: USER
                      autoDeleteSetting: false
                      branchRetentionPeriodSetting: 30
                      autoDeleteSettingsCustomized: false
                      isDefault: true
                    portfolioItemId: 94d1d57d-e3bf-438d-975b-2458d268eb4d
                    createdAt: "2023-10-18 15:07:19"
                    updatedAt: "2023-10-18 15:07:19"
                    autoDeleteSetting: false
                    branchRetentionPeriodSetting: 30
                    autoDeleteSettingsCustomized: false
                  - id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      importSettings:
                        settingArtifactId: 2a9c831a-aeba-4015-804e-702a8163bb9f
                      default: true
                    entryPointPrivate: false
                  - id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dast manual profile
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: NONE
                      default: true
                    entryPointPrivate: false
                _links:
                  - href: https://polaris.blackduck.com/portfolio-items/94d1d57d-e3bf-438d-975b-2458d268eb4d/portfolio-sub-items?_offset=0&_limit=100
                    rel: first
                    method: GET
                  - href: https://polaris.blackduck.com/portfolio-items/94d1d57d-e3bf-438d-975b-2458d268eb4d/portfolio-sub-items?_offset=0&_limit=100
                    rel: next
                    method: GET
                  - href: https://polaris.blackduck.com/portfolio-items/94d1d57d-e3bf-438d-975b-2458d268eb4d/portfolio-sub-items?_offset=0&_limit=100
                    rel: prev
                    method: GET
                  - href: https://polaris.blackduck.com/portfolio-items/94d1d57d-e3bf-438d-975b-2458d268eb4d/portfolio-sub-items?_offset=0&_limit=100
                    rel: last
                    method: GET
                  - href: https://polaris.blackduck.com/portfolio-items/94d1d57d-e3bf-438d-975b-2458d268eb4d/portfolio-sub-items?_offset=0&_limit=100
                    rel: self
                    method: GET
                _collection:
                  itemCount: 3
                  currentPage: 1
                  pageCount: 1
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /portfolio-sub-items/{id}:
    patch:
      operationId: updatePortfolioSubItem
      tags:
        - Portfolio Subitems
      summary: |
        Update fields in a portfolio subitem.
      description: |
        Updates fields in a portfolio subitem by portfolio subitem ID.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
      parameters:
        - name: id
          in: path
          description: Portfolio Subitem ID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Any of the following portfolio subitem attributes can be updated.
        content:
          application/vnd.pm.portfolio-subitems-1+json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/UpdatePortfolioSubItemPayload"
                - $ref: "#/components/schemas/UpdatePortfolioSubItemDastPayload"
            examples:
              SAST/SCA:
                description: An example for SAST/SCA project sub type
                value:
                  name: SastProject
                  description: This is a sast project
              DAST:
                description: An example for DAST project sub type
                value:
                  name: DastProject
                  description: This is a dast project
                  entryPointUrl: http://dastPorfile.com
                  entryPointPrivate: false
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pm.portfolio-subitems-1+json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/PortfolioSubItemSastScaResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastImportResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualFormsResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSamlResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSeleniumResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualNoneResponse"
              examples:
                SAST/SCA:
                  description: An example for SAST/SCA project sub type
                  value:
                    id: d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                    name: Sast Project
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    subItemType: PROJECT
                    description: test sast project
                    defaultBranch:
                      id: 2006a516-94e4-49c4-94cc-8a6c2f0ea8ef
                      name: dev-branch
                      description: default branch for dev
                      source: USER
                      isDefault: true
                    autoDeleteSetting: false
                    branchRetentionPeriodSetting: 30
                    autoDeleteSettingsCustomized: false
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                        rel: self
                        method: GET
                DAST-Import:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      importSettings:
                        settingArtifactId: 2a9c831a-aeba-4015-804e-702a8163bb9f
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-None:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dast manual profile
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: NONE
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Forms:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: FORMS
                          simpleFormSetting:
                            loginUrl: http://login.com
                            fields:
                              userName: synopsys
                              password: password
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Saml:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: SAML
                          samlSetting:
                            ssoLoginUrl: http://example.com
                            fields:
                              userName: synopsys
                              password: password
                            httpHeaders:
                              Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Selenium:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: SELENIUM
                          seleniumSetting:
                            sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    get:
      operationId: getPortfolioSubItemById
      tags:
        - Portfolio Subitems
      summary: |
        Find a portfolio subitem by id.
      description: |
        Gets a portfolio subitem by portfolio subitem id.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: id
          in: path
          description: Portfolio Subitem Id UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Portfolio subitem details.
          content:
            application/vnd.pm.portfolio-subitems-1+json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/PortfolioSubItemSastScaResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastImportResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualFormsResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSamlResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSeleniumResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualNoneResponse"
              examples:
                SAST/SCA:
                  description: An example for SAST/SCA project sub type
                  value:
                    id: d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                    name: Sast Project
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    subItemType: PROJECT
                    description: test sast project
                    defaultBranch:
                      id: 2006a516-94e4-49c4-94cc-8a6c2f0ea8ef
                      name: dev-branch
                      description: default branch for dev
                      source: USER
                      isDefault: true
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                        rel: self
                        method: GET
                DAST-Import:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      importSettings:
                        settingArtifactId: 2a9c831a-aeba-4015-804e-702a8163bb9f
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                DAST-Manual-None:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dast manual profile
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: NONE
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                DAST-Manual-Forms:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: FORMS
                          simpleFormSetting:
                            loginUrl: http://login.com
                            fields:
                              userName: synopsys
                              password: password
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                DAST-Manual-Saml:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: SAML
                          samlSetting:
                            ssoLoginUrl: http://example.com
                            fields:
                              userName: synopsys
                              password: password
                            httpHeaders:
                              Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                DAST-Manual-Selenium:
                  description: An example for DAST project sub type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: testdastimport
                    description: dast import project
                    subItemType: DAST
                    inTrash: false
                    portfolioItemId: 1967d38a-4983-4737-a9c5-64169d988b62
                    createdAt: "2024-03-19 08:14:43"
                    updatedAt: "2024-03-19 08:14:43"
                    entryPointUrl: https://exampldsae.com
                    profile:
                      id: 6d4b238e-48b7-43c9-955c-1a782badb214
                      name: dastprofile1test23
                      organizationId: f660b96c-78be-4d3c-bbd1-a6136533b247
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: SELENIUM
                          seleniumSetting:
                            sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                      default: true
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
    delete:
      operationId: deletePortfolioSubItem
      tags:
        - Portfolio Subitems
      summary: |
        Delete a portfolio subitem.
      description: |
        Deletes a portfolio sub-item by portfolio subitem ID.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
      parameters:
        - name: id
          in: path
          description: Portfolio Subitem UUID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Portfolio sub item has been deleted.
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "403":
          $ref: "#/paths/~1tags/get/responses/403"
        "404":
          $ref: "#/paths/~1tags/get/responses/404"
        "500":
          $ref: "#/paths/~1/get/responses/500"
      deprecated: true
  /{portfolioId}/projects:
    get:
      operationId: getProjectsByFilter
      tags:
        - Projects
      summary: |
        Find projects using filter throughout organization.
      description: |
        Retrieves all projects using filters for an organization

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
        - Application Contributor
        - Application Observer
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: _filter
          in: query
          description: >-
            Filters the collection of projects for the specified filters. The filter follows [RSQL syntax](https://github.com/jirutka/rsql-parser). The filter will support id, name, description,
            applicationId, createdAt and updatedAt.
          example: _filter=applicationId=in=('500a24c2-12e2-480c-8529-5c74a1ecf43a','d1f14074-e4e5-4d10-aaea-cb4e43be4741');id=in=('473b1817-cf4f-4d0d-a256-8a95f6d33ca0')&_offset=0&_limit=2
          schema:
            type: string
        - name: _sort
          in: query
          description: >-
            Sorts projects on the specified attributes. Default sorting method is `name` in `ascending` order. The format of the `_sort` parameter is
            `{field_name}|{asc|desc},{field_name}|{asc|desc},...`. Accepted values for sorting are `id`, `name`, `subItemType`, and `description`.
          example: name|asc
          schema:
            type: string
        - name: _offset
          in: query
          description: >
            Returns results, starting from the specified position within the response. For example, if the offset is set to 5, then the first 5 records are skipped and the 6th record is the first
            record returned. Default value is 0. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            format: int32
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the specified limit. The default is 100. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request."
          schema:
            type: integer
            format: int32
            example: 10
      responses:
        "200":
          description: Success.
          content:
            application/vnd.polaris.portfolios.projects-1+json:
              schema:
                $ref: "#/components/schemas/ProjectsGetResponse"
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
  /{portfolioId}/applications/{applicationId}/projects:
    post:
      operationId: createProject
      tags:
        - Projects
      summary: |
        Create a project.
      description: |
        Creates a new project for an application by providing application ID for the specified organization.

         **Permissions:**
        - Org Admin
        - Organization Application Manager
        - Application Admin
      parameters:
        - name: portfolioId
          in: path
          description: Portfolio UUID.
          required: true
          schema:
            type: string
            format: uuid
        - name: applicationId
          in: path
          description: Application UUID.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        description: >
          Add a project to an application for an organization. The property `projectType` is required and the possible values are `PROJECT` for SAST/SCA projects and `DAST` for DAST projects. For
          creating the DAST projects, profile has to be created at the same time.
        content:
          application/vnd.polaris.portfolios.projects-1+json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/PortfolioSubItemSastScaPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastImportSettingPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSimpleFormPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSeleniumPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingSamlPayload"
                - $ref: "#/components/schemas/PortfolioSubItemDastManualSettingNonePayload"
            examples:
              SAST/SCA:
                description: An example for SAST/SCA project type
                value:
                  name: Sast Project
                  description: test sast project
                  labelIds:
                    - b268cced-f7ec-4b47-b80b-d8588b17e640
                    - 344df29a-e927-4718-a69d-cf959f122c6b
                  defaultBranch:
                    name: dev-branch
                    description: default branch for dev
                    source: USER
                    isDefault: true
              DAST-Import:
                description: An example for DAST project sub type
                value:
                  name: DastProject
                  description: test dast project
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: dast import profile
                    importSettings:
                      settingArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f0
                  entryPointPrivate: false
              DAST-Manual-None:
                description: An example for DAST project type
                value:
                  name: Dast Project
                  description: test dast project
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: dast manual profile
                    manualSettings:
                      authentication:
                        type: v0
                        mode: NONE
                  entryPointPrivate: false
              DAST-Manual-Forms:
                description: An example for DAST project type
                value:
                  name: DastProject
                  description: test dast project
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: simple form mode profile
                    performActiveAttack: true
                    manualSettings:
                      allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                      authentication:
                        type: v0
                        mode: FORMS
                        simpleFormSetting:
                          loginUrl: http://login.com
                          fields:
                            userName: synopsys
                            password: password
                  entryPointPrivate: false
              DAST-Manual-Saml:
                description: An example for DAST project type
                value:
                  name: Dast Project
                  description: test dast project
                  entryPointUrl: http://dastPorfile.com
                  profile:
                    name: saml mode profile
                    performActiveAttack: true
                    manualSettings:
                      allowedHosts: http://dast-porfile.com, http://127.0.0.1:22766
                      authentication:
                        type: v0
                        mode: SAML
                        samlSetting:
                          ssoLoginUrl: http://example.com
                          fields:
                            userName: synopsys
                            password: password
                          httpHeaders:
                            Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                  entryPointPrivate: false
              DAST-Manual-Selenium:
                description: An example for DAST project sub type
                value:
                  name: Dast Project
                  description: test dast project
                  entryPointUrl: http://example.com
                  profile:
                    name: selenium mode profile
                    manualSettings:
                      authentication:
                        type: v0
                        mode: SELENIUM
                        seleniumSetting:
                          sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                  entryPointPrivate: false
      responses:
        "200":
          description: Success.
          content:
            application/vnd.polaris.portfolios.projects-1+json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/PortfolioSubItemSastScaResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastImportResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualFormsResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSamlResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualSeleniumResponse"
                  - $ref: "#/components/schemas/PortfolioSubItemDastManualNoneResponse"
              examples:
                SAST/SCA:
                  description: An example for SAST/SCA project type
                  value:
                    id: d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                    name: Sast Project
                    description: test sast project
                    subItemType: PROJECT
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    defaultBranch:
                      id: 2006a516-94e4-49c4-94cc-8a6c2f0ea8ef
                      name: dev-branch
                      description: default branch for dev
                      source: USER
                      isDefault: true
                    labelIds:
                      - b268cced-f7ec-4b47-b80b-d8588b17e640
                      - 344df29a-e927-4718-a69d-cf959f122c6b
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/d36521ae-21f3-412c-b3d2-bcbf8d26c9e0
                        rel: self
                        method: GET
                DAST-Import:
                  description: An example for DAST project type
                  value:
                    id: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                    name: DastProject
                    description: test dast project
                    subItemType: DAST
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    entryPointUrl: http://dastPorfile.com
                    profile:
                      id: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
                      name: dast import profile
                      organizationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      projectId: 8b35b89e-1994-4d2a-85e9-7826af0b1fec
                      performActiveAttack: false
                      importSettings:
                        settingArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f0
                    labelIds:
                      - b268cced-f7ec-4b47-b80b-d8588b17e640
                      - 344df29a-e927-4718-a69d-cf959f122c6b
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/8b35b89e-1994-4d2a-85e9-7826af0b1fec
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-None:
                  description: An example for DAST project type
                  value:
                    id: 9c46c9af-2005-5e3b-96fa-8937b01c2efd
                    name: Dast Project
                    description: test dast project
                    subItemType: DAST
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    entryPointUrl: http://dastPorfile.com
                    profile:
                      id: 2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e
                      name: dast manual profile
                      organizationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      projectId: 9c46c9af-2005-5e3b-96fa-8937b01c2efd
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: NONE
                    labelIds:
                      - b268cced-f7ec-4b47-b80b-d8588b17e640
                      - 344df29a-e927-4718-a69d-cf959f122c6b
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/9c46c9af-2005-5e3b-96fa-8937b01c2efd
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Forms:
                  description: An example for DAST project type
                  value:
                    id: 3d57d68f-3116-6f4c-a7fb-3a48c02d3afe
                    name: DastProject
                    description: test dast project
                    subItemType: DAST
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    entryPointUrl: http://dastPorfile.com
                    profile:
                      id: 3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f
                      name: simple form mode profile
                      organizationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      projectId: 3d57d68f-3116-6f4c-a7fb-3a48c02d3afe
                      performActiveAttack: true
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, Springfield, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: FORMS
                          simpleFormSetting:
                            loginUrl: http://login.com
                            fields:
                              userName: blackduck
                              password: password
                    labelIds:
                      - b268cced-f7ec-4b47-b80b-d8588b17e640
                      - 344df29a-e927-4718-a69d-cf959f122c6b
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/3d57d68f-3116-6f4c-a7fb-3a48c02d3afe
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Saml:
                  description: An example for DAST project type
                  value:
                    name: Dast Project
                    description: test dast project
                    entryPointUrl: http://dastPorfile.com
                    profile:
                      name: saml mode profile
                      performActiveAttack: true
                      manualSettings:
                        allowedHosts: http://dast-porfile.com, http://127.0.0.1:22766
                        authentication:
                          type: v0
                          mode: SAML
                          samlSetting:
                            ssoLoginUrl: http://example.com
                            fields:
                              userName: synopsys
                              password: password
                            httpHeaders:
                              Organization-id: 6b35b89e-1994-4d2a-85e9-7826af0b1fed
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
                DAST-Manual-Selenium:
                  description: An example for DAST project type
                  value:
                    id: 5f79f8a0-5338-806e-c90d-5c6ae04f50af
                    name: Dast Project
                    description: test dast project
                    subItemType: DAST
                    portfolioItemId: b6fedd54-6e06-40f2-b0ec-6f31cbe099dd
                    entryPointUrl: http://example.com
                    profile:
                      id: 5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b
                      name: selenium mode profile
                      organizationId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      projectId: 5f79f8a0-5338-806e-c90d-5c6ae04f50af
                      performActiveAttack: false
                      manualSettings:
                        authentication:
                          type: v0
                          mode: SELENIUM
                          seleniumSetting:
                            sideFileArtifactId: 1caa4290-3a6f-458d-bb9d-d5566dffd4f2
                    labelIds:
                      - b268cced-f7ec-4b47-b80b-d8588b17e640
                      - 344df29a-e927-4718-a69d-cf959f122c6b
                    inTrash: false
                    createdAt: "2022-02-02 21:00:05"
                    updatedAt: "2022-02-02 21:00:05"
                    _links:
                      - href: https://polaris.blackduck.com/portfolio-sub-items/5f79f8a0-5338-806e-c90d-5c6ae04f50af
                        rel: self
                        method: GET
                    entryPointPrivate: false
                    proxy:
                      projectId: 8caa4290-3a6f-458d-bb9d-d5566dffd4f1
                      applicationUrl: http://example.com
        "400":
          $ref: "#/paths/~1/get/responses/400"
        "500":
          $ref: "#/paths/~1/get/responses/500"
    get:
      operationId: getProjects
      tags:
        - Projects
      summary: |
        Find projects in an application.
[...]
