openapi: 3.1.0
info:
  title: Repos Integration
  description: >
    Repos Integration retrieves and updates information about projects and repos where you have deployed integrations to scan code. It can test the connection between Polaris and the host of your
    remote repository.
  version: 1.0.0
  x-logo:
    icon: fa-user-robot
    primary: null
    secondary: null
  contact:
    name: Black Duck, Inc.
    url: https://polaris.blackduck.com
servers:
  - url: https://polaris.blackduck.com
    description: Repos Integration
tags:
  - name: Repository Integrations APIs
    description: APIs to search for and retrieve repository details, testing the connection and integrations with the repository or group for a given project.
  - name: Bulk import APIs
    description: APIs to bulk import repositories and retrieve the import details.
  - name: Sync Settings APIs
    description: APIs to get and update sync settings for repositories.
security:
  - ApiKeyAuth: []
paths:
  /api/integrations/repos:
    get:
      tags:
        - Repository Integrations APIs
      operationId: searchRepositoriesWithFilters
      summary: Retrieve configured SCM repositories with filters
      description: >-
        Retrieves all the SCM repositories related to the applications accessible to the given user. It supports filtering on repositoryId and projectId only. The result will be sorted by default
        based on the creation date of the repository, latest first. Custom sorting parameters are not supported. The response will be paginated by default with 10 items per page with a maximum limit
        to 100.
      parameters:
        - name: _filter
          in: query
          description: >-
            Filters the collection of repositories. The filter follows the RSQL syntax. Available keys for filtering are `repositoryId` and `projectId`. Supported RSQL operators on the keys are - =in=
            (in operator only). Multiple logical operators and repeated keys are not allowed and only UUID values are supported for the values. More details at `https://github.com/jirutka/rsql-parser`
          schema:
            type: string
            example: |
              [ 
                  repositoryId=in=(1d44c6d4-dde4-4c37-b068-9e7eb21c4a19, 1d44c6d4-dde4-4c37-b068-9e7eb21c4a19),
                  projectId=in=(0a50c9ab-7c75-498e-8b18-0d695ca4ef03);repositoryId=in=(1d44c6d4-dde4-4c37-b068-9e7eb21c4a19, 1d44c6d4-dde4-4c37-b068-9e7eb21c4a19), projectId=in=(0a50c9ab-7c75-498e-8b18-0d695ca4ef03, 0a50c9ab-7c75-498e-8b18-0d695ca4ef02)
              ]
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-list-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScmRepositoryV1CollectionResponse'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Limit value must not be less than 0 and cannot be more than 100
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to access this repository.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
    post:
      tags:
        - Repository Integrations APIs
      operationId: createScmRepo
      summary: Create SCM repository for a project
      description: API to create an SCM repository for a given project.
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.repo-create-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ScmRepositoryRequestV1'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CreateScmRepositoryResponseV1'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: SCM provider is required
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to create the repository settings.
        '409':
          description: Conflict.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:conflict
                title: Conflict
                status: 409
                detail: A repository record already exist for the project
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred
  /api/integrations/repos/{repoId}:
    patch:
      tags:
        - Repository Integrations APIs
      operationId: updateRepositoryConfigByRepositoryId
      summary: Update SCM repository for a given project by repositoryId
      description: API to update an SCM repository for a given project and repository.
      parameters:
        - name: repoId
          in: path
          description: The repository ID which is a UUID that can be obtained from SCM get repository API
          required: true
          schema:
            type: string
            format: uuid
          example: 0c50c9ab-b068-498e-b068-0d695ca4ed04
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.repo-update-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ScmRepositoryRequestV1'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScmRepositoryPatchResponseV1'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: SCM provider is required
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to update the repository settings.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
    get:
      tags:
        - Repository Integrations APIs
      operationId: getRepository
      summary: Get SCM repository by ID
      description: API to retrieve an SCM repository for a given repository ID. Repository ID can be retrieved using POST/GET project's repository APIs.
      parameters:
        - name: repoId
          in: path
          description: The repository ID which is a UUID that is stored in SCM integrations service
          required: true
          schema:
            type: string
            format: uuid
          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
        - name: _include
          in: query
          description: >-
            Accepted value for `_include` is 'defaultBranchName'. This parameter defines if defaultBranchName is needed with the response. If _include parameter is not specified, the response object
            does not have the defaultBranchName attribute.
          required: false
          schema:
            type: string
            example: _include=defaultBranchName
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScmRepositoryResponseWithBranchV1'
              example:
                body:
                  id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  organizationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositoryUrl: https://www.github.com/te-repo
                  scmProvider: GITHUB_STANDARD
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  createdAt: '2023-10-26T09:56:54.333Z'
                  updatedAt: '2023-10-26T09:56:54.333Z'
                  createdBy: Chuck Norris
                  updatedBy: Chuck Norris
                  defaultBranchName: main
                  _links:
                    - href: https://polaris.blackduck.com/api/integrations/repos/3fa85f64-5717-4562-b3fc-2c963f66afa6
                      rel: self
                      method: GET
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: repositoryId value is in invalid format.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to access this repository.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
  /api/integrations/repos/test-connection:
    post:
      tags:
        - Repository Integrations APIs
      operationId: testConnectionRepo
      summary: Test connection for a given project with SCM repository
      description: API to test and verify validity of an SCM repository connection for a given project.
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.connection-request-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ScmRepositoryRequestV1'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-connection-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScmRepositoryTestConnectionResponseV1'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: projectId value is in invalid format.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to perform test connection operation on this repository.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
  /api/integrations/repos/{repoId}/branches:
    get:
      operationId: getAllBranchesForRepo
      tags:
        - Repository Integrations APIs
      summary: Get SCM branches for given project ID and repository ID
      description: Retrieves all the SCM branches for a given project ID and repository ID
      parameters:
        - name: repoId
          in: path
          description: The repository ID which is a UUID that can be obtained from SCM get repository API
          required: true
          schema:
            type: string
            format: uuid
          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. The offset needs to be a multiple of limit, otherwise an error will be thrown. For example, if the offset is set to 10,
            the first 4 records are not returned. A default value of 0 is used if no value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
            example: 0
        - name: _limit
          in: query
          description: Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad Request.
          schema:
            type: integer
            default: 100
            example: 10
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.repo-branch-list-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/RepositoryBranchesV1CollectionResponse'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: repoId value is in invalid format.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: Not authorized to list repository branches.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
  /api/integrations/repos/scm/groups/auth:
    post:
      operationId: createGroupAuthenticationForRepo
      tags:
        - Repository Integrations APIs
      summary: Create SCM-Repository Authentication configuration for specified Application
      description: This API configures the PAT specified in the payload on the given `applicationId`. The PAT that is set on the application is utilised by all the projects created under the application.
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.scm.groups-auth-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateScmRepositoryByAppIdRequestV1'
        required: true
      responses:
        '201':
          description: Resource has been created.
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missingScmProvider:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: SCM provider is required
                missingEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: You are not authorized to update the repository settings.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/providers:
    get:
      operationId: listRepoIntegrationsProviders
      tags:
        - Bulk import APIs
      summary: Listing of all SCM providers.
      description: This API lists all the SCM providers supported (including both cloud-hosted & self-hosted) and includes the version details if the hosting type is self-hosted.
      responses:
        '200':
          description: Success.
          content:
            application/vnd.scm.providers-list-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScmProviderResponseV1Response'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: An unexpected error happened while listing versions for scm providers from the library.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error happened while listing versions.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bitbucket data center (self-hosted) is disabled.
  /api/integrations/repos/bulk-repo-import:
    post:
      tags:
        - Bulk import APIs
      operationId: importReposForAGroup
      summary: Bulk import SCM repositories for a group
      description: Creates a bulk import job for the given group and repositories. Only users assigned to the application really have access to the projects underneath them.
      parameters:
        - in: header
          name: X-Polaris-SCM-PAT
          description: Personal Access Token
          schema:
            type: string
          required: true
        - name: X-Polaris-SCM-Email
          in: header
          description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory header.)
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.bulk-repo-import-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ImportRepositoriesForAGroupRequestV1'
            examples:
              Bulk import request for Github:
                description: Bulk import request for SCM providers like Github with flat repository structure (organization -> repositories)
                value:
                  applicationId: 3ea85f61-3317-4562-b3fc-3d683f66aeb9
                  scmProvider: GITHUB_STANDARD
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositories:
                    - groupName: my-organization
                      allRepositoriesInGroup: false
                      includeRepositories:
                        - repo-1
                        - repo-2
                      excludeRepositories: []
              Bulk import request for Gitlab:
                description: Bulk import request for SCM providers like GitLab with nested repository structure (group -> sub-groups -> repositories)
                value:
                  applicationId: 3ea85f61-3317-4562-b3fc-3d683f66aeb9
                  scmProvider: GITLAB_SAAS
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositories:
                    - groupName: my-organization
                      allRepositoriesInGroup: false
                      includeRepositories:
                        - subgroup/repo-1
                        - subgroup/repo-2
                      excludeRepositories: []
              Bulk import request for Azure:
                description: Bulk import request for SCM providers like Azure with nested repository structure (organization -> sub-groups -> repositories)
                value:
                  applicationId: 3ea85f61-3317-4562-b3fc-3d683f66aeb9
                  scmProvider: AZURE_CLOUD
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositories: []
                  nestedRepositories:
                    - groupName: azure-organization
                      allSubGroupsInGroup: false
                      subGroupRepositories:
                        - subGroupName: azure-project
                          allRepositoriesInSubGroup: false
                          includeRepositories:
                            - azure-repo-1
                            - azure-repo-2
                          excludeRepositories: []
              Bulk import request for BitBucket:
                description: Bulk import request for SCM providers like BitBucket Cloud with flat repository structure (Workspace -> Projects -> Repositories)
                value:
                  applicationId: 8be36f61-2317-4342-a3fc-6d323ey6wde2
                  scmProvider: BITBUCKET_CLOUD
                  policySettings:
                    issuePolicyIds:
                      - 1fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 9fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositories:
                    - groupName: my-workspace
                      allRepositoriesInGroup: false
                      includeRepositories:
                        - repo-1
                        - repo-2
                      excludeRepositories: []
        required: true
      responses:
        '202':
          description: Request Accepted for Processing.
          headers:
            Location:
              required: true
              schema:
                type: string
                format: url
                example: https://polaris.synopsys.com/repositories-import/b2dbb34e-ce92-4218-a78f-8f20a2300a54
              description: URL to check the status of import job.
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: SCM provider required.
              examples:
                missingScmProvider:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: SCM provider is required
                missingEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: User does not have required access to any repository-group.
        '409':
          description: Conflict.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:conflict
                title: Conflict
                status: 409
                detail: Another Import Job is under process, please try again after sometime (or abort previous job).
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while importing the groups and repositories.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/bulk-repo-import/groups/status:
    get:
      tags:
        - Bulk import APIs
      operationId: getReposImportGroupsStatus
      summary: Get import statistics per group and its constituent repositories
      description: >-
        Fetches the cumulative status of available groups along with repository level statistics. The results are by default sorted with jobs creation date in desc order, custom sorting is not
        supported.
      parameters:
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
            example: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
            example: 0
        - name: _filter
          in: query
          description: |
            Filters the collection of groups import. The filter follows the RSQL syntax. More details at `https://github.com/jirutka/rsql-parser`.

            __Note__: Supported filter 'keys' are ['__state__','__portfolioItemId__'].

            Valid state's for a group is: [NOT_STARTED, IN_PROGRESS, FAILED, COMPLETED]
          schema:
            type: string
            example: |
              [ state==COMPLETED, state=in=(COMPLETED,NOT_STARTED), portfolioItemId==3fa85f64-5717-4562-b3fc-2c963f66afa6 ]
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.bulk-repo-import-groups-status-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetRepoImportGroupsStatusResponseV1'
                  _links:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/repositories-import/groups/status?_limit=10
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/repositories-import/groups/status?_limit=10
                        rel: first
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/repositories-import/groups/status?_limit=10
                        rel: last
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/RepoImportStatusPageInformation'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Limit value must not be less than 0 and cannot be more than 100.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while getting repositories import groups status.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/bulk-group-import:
    post:
      tags:
        - Bulk import APIs
      operationId: importGroupsRepos
      summary: Bulk import SCM groups and repositories
      description: Creates a bulk import job for the given groups and repositories. Ensure that the users assigned to the applications really have access to the projects underneath them.
      parameters:
        - in: header
          name: X-Polaris-SCM-PAT
          description: Personal Access Token
          schema:
            type: string
          required: true
        - name: X-Polaris-SCM-Email
          in: header
          description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory header.)
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.bulk-group-import-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdatedImportRepositoriesRequestV1'
            examples:
              Bulk import request for Github:
                description: Bulk import request for SCM providers like Github with flat repository structure (organization -> repositories)
                value:
                  scmProvider: GITHUB_STANDARD
                  automaticMapping: false
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  roleUsersMappings:
                    - roleId: 1fa85f64-5717-4562-b3fc-2c963f66afa6
                      userId: 4fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositorySelections:
                    - applicationName: App A
                      repositories:
                        - groupName: my-organization
                          allRepositoriesInGroup: false
                          includeRepositories:
                            - repo-1
                            - repo-2
                          excludeRepositories: []
              Bulk import request for GitLab:
                description: Bulk import request for SCM providers like GitLab with nested repository structure (group -> sub-groups -> repositories)
                value:
                  scmProvider: GITLAB_SAAS
                  automaticMapping: false
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  roleUsersMappings:
                    - roleId: 1fa85f64-5717-4562-b3fc-2c963f66afa6
                      userId: 4fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositorySelections:
                    - applicationName: App A
                      repositories:
                        - groupName: my-organization
                          allRepositoriesInGroup: false
                          includeRepositories:
                            - subgroup/repo-1
                            - subgroup/repo-2
                          excludeRepositories: []
              Bulk import request for Azure:
                description: Bulk import request for SCM providers like Azure with nested repository structure (organization -> sub-groups -> repositories)
                value:
                  scmProvider: AZURE_CLOUD
                  automaticMapping: false
                  policySettings:
                    issuePolicyIds:
                      - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 4fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 6fa85f64-5717-4562-b3fc-2c963f66afa6
                  roleUsersMappings:
                    - roleId: 1fa85f64-5717-4562-b3fc-2c963f66afa6
                      userId: 4fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositorySelections:
                    - applicationName: App B
                      applicationNameTemplate: ${azure-org}-${azure-project}
                      repositories: []
                      nestedRepositories:
                        - groupName: azure-organization
                          allSubGroupsInGroup: false
                          subGroupRepositories:
                            - subGroupName: azure-project
                              allRepositoriesInSubGroup: false
                              includeRepositories:
                                - azure-repo-1
                                - azure-repo-2
                              excludeRepositories: []
              Bulk import request for Bitbucket:
                description: Bulk import request for SCM providers like BitBucket with flat repository structure (Workspace -> Projects -> Repositories)
                value:
                  scmProvider: BITBUCKET_CLOUD
                  automaticMapping: false
                  policySettings:
                    issuePolicyIds:
                      - 1fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                    scanPolicyIds:
                      - 9fa85f64-5717-4562-b3fc-2c963f66afa6
                      - 5fa85f64-5717-4562-b3fc-2c963f66afa6
                  roleUsersMappings:
                    - roleId: 2fa85f64-5717-3562-b3fc-2c963f66afa6
                      userId: 9fa85f64-5717-4562-b3fc-2c963f66afa6
                  repositorySelections:
                    - repositories:
                        - groupName: my-workspace
                          allRepositoriesInGroup: false
                          includeRepositories:
                            - repo-1
                            - repo-2
                          excludeRepositories: []
        required: true
      responses:
        '202':
          description: Request Accepted for Processing.
          headers:
            Location:
              required: true
              schema:
                type: string
                format: url
                example: https://polaris.synopsys.com/groups-repositories-import/b2dbb34e-ce92-4218-a78f-8f20a2300a54
              description: URL to check the status of import job.
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: SCM provider required.
              examples:
                missingScmProvider:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: SCM provider is required
                missingEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: User does not have required access to any repository-group.
        '409':
          description: Conflict.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:conflict
                title: Conflict
                status: 409
                detail: Another Import Job is under process, please try again after sometime (or abort previous job).
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while importing the groups and repositories.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/bulk-group-import/{jobId}:
    patch:
      tags:
        - Bulk import APIs
      operationId: updateImportGroupsReposJob
      summary: Update groups repositories import job
      description: Update groups repositories import job for the given job id, only supported action is [ABORT] .
      parameters:
        - name: jobId
          in: path
          description: The groups repositories import job ID which is a UUID. Can be found in location header of POST API response.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.bulk-group-import-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateRepositoriesImportRequestV1'
        required: true
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.bulk-group-import-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UpdatedRepositoriesImportResponseV1'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Specified action is invalid, only action allowed is ABORT.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '403':
          description: Forbidden.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:forbidden
                title: Forbidden
                status: 403
                detail: Access is denied.
        '404':
          description: Not found.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-found
                title: Not found
                status: 404
                detail: No matching records found for repositories import jobId - 0a50c9ab-b068-498e-b068-0d695ca4ef03
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while updating repositories.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/bulk-group-import/{jobId}/status:
    get:
      tags:
        - Bulk import APIs
      operationId: getGroupsReposImportStatusById
      summary: Get groups repositories import job status by job id
      description: Fetches the cumulative status of the given job and includes the statistics for all the groups.
      parameters:
        - name: jobId
          in: path
          description: The repositories import job ID which is a UUID. Can be found in location header of POST API response.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.bulk-group-import-status-1+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GetGroupsRepositoriesImportStatusResponseV1'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Please provide valid UUID for repositoriesImportJobId field.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '404':
          description: Not found.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-found
                title: Not found
                status: 404
                detail: No matching records found for repositories import jobId - 0a50c9ab-b068-498e-b068-0d695ca4ef03
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while getting repositories import status by id.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/bulk-group-import/status:
    get:
      tags:
        - Bulk import APIs
      operationId: getAllGroupsReposImportStatus
      summary: Get groups repositories import status for all jobs
      description: Fetches the cumulative status of available jobs along with group level statistics. The results are by default sorted with their creation date in desc order, custom sorting is not supported.
      parameters:
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
            example: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
            example: 0
        - name: _filter
          in: query
          description: |
            Filters the collection of repository import jobs. The filter follows the RSQL syntax. More details at `https://github.com/jirutka/rsql-parser`.

            __Note__: Only supported filter 'key' is '__state__'.

            Valid state's for a job is: [NOT_STARTED, IN_PROGRESS, FAILED, ABORTED, TIMED_OUT, PARTIALLY_COMPLETED, COMPLETED]
          schema:
            type: string
            example: |
              [ state==COMPLETED, state=in=(COMPLETED,ABORTED) ]
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.bulk-group-import-status-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Repositories import job Id.
                          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
                        progressPercentage:
                          type: integer
                          description: Overall progress of repositories import job.
                          example: 100
                        state:
                          type: string
                          description: Indicate the present state of repositories import job.
                          example: Failed
                        stateInfo:
                          type: string
                          description: Indicate user friendly error message in case of error.
                          example: Repositories import job failed, Group import failed.
                        groupsImportStats:
                          type: object
                          properties:
                            notStarted:
                              type: integer
                              description: Indicates count of groups that are yet to begin the import.
                              example: 0
                            inProgress:
                              type: integer
                              description: Indicates count of groups whose import is in-progress.
                              example: 0
                            completed:
                              type: integer
                              description: Indicates the count of groups that are imported successfully.
                              example: 200
                            failed:
                              type: integer
                              description: Indicates the count of groups that have failed to import.
                              example: 100
                            total:
                              type: integer
                              description: Indicates the count of groups that were requested for on-boarding.
                              example: 300
                  _links:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/groups-repositories-import/status?_offset=20&_limit=10
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/groups-repositories-import/?_offset=0&_limit=10
                        rel: first
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/groups-repositories-import/?_offset=1000&_limit=10
                        rel: last
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/GroupsRepoImportStatusPageInformation'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Limit value must not be less than 0 and cannot be more than 100.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while getting repositories import status by id.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/scm/test-connection:
    get:
      tags:
        - Bulk import APIs
      operationId: testReposConnection
      summary: Test connection to a scm provider
      description: Test connection to a scm provider using a personal access token
      parameters:
        - name: scmProvider
          in: query
          description: Name of the scm provider
          schema:
            $ref: '#/components/schemas/ScmProvider'
          required: true
        - name: X-Polaris-SCM-PAT
          in: header
          description: Personal Access Token
          schema:
            type: string
          required: true
        - name: X-Polaris-SCM-Email
          in: header
          description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory header.)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/vnd.polaris.integrations.repos.scm.repo-connection-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  object:
                    type: boolean
                  _links:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/integrations/connection
                        rel: self
                        method: GET
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                blankToken:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: SCM token cannot be blank.
                missingEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error happened while testing connection for given provider and token.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/scm/groups:
    get:
      tags:
        - Bulk import APIs
      operationId: listGroupsForRepos
      summary: Get groups from a scm provider
      description: Get list of available groups from a scm provider using a personal access token
      parameters:
        - name: scmProvider
          in: query
          description: Name of the scm provider
          schema:
            $ref: '#/components/schemas/ScmProvider'
          required: true
        - name: _cursor
          in: query
          description: >-
            Number of records to be skipped in relation with the provided limit value, (n-1) * _limit. if the limit is 100 and _cursor value is 2. First 100 records will be skipped. Default value is 1
            if not specified.
          schema:
            type: string
            example: '1'
        - name: _limit
          in: query
          description: Restricts the number of results to the given limit. The default of 100 is used if no value is provided.
          schema:
            type: integer
            default: 100
        - name: topLevelOnly
          in: query
          description: >-
            Determines whether to fetch only top-level groups during onboarding. This parameter is optional and applies exclusively to GitLab integrations. When set to true, only top-level groups are
            retrieved, excluding any nested sub-groups. Defaults to false.
          schema:
            type: boolean
            default: false
        - name: X-Polaris-SCM-PAT
          in: header
          description: Personal Access Token
          schema:
            type: string
          required: true
        - name: X-Polaris-SCM-Email
          in: header
          description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory header.)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.polaris.integrations.repos.scm.group-list-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: '#/components/schemas/group'
                  _links:
                    type: array
                    items:
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/integrations/groups?_cursor=20&_limit=10
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/groups?_cursor=10&_limit=10
                        rel: prev
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/groups?_cursor=30&_limit=10
                        rel: next
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/groupCollection'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupportedProvider:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                    hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
                missingEmail:
                  summary: Missing email for Bitbucket
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  summary: Invalid email format
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An error occurred while listing group details for the given provider and token.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/scm:
    get:
      tags:
        - Bulk import APIs
      operationId: listRepos
      summary: Get repositories from a scm provider
      description: Get list of available repositories of a group from a scm provider using a personal access token
      parameters:
        - name: scmProvider
          in: query
          description: Name of the scm provider
          schema:
            $ref: '#/components/schemas/ScmProvider'
        - name: groupName
          in: query
          description: Name of the group
          schema:
            type: string
        - name: projectName
          in: query
          description: Name of the project within the specified group
          schema:
            type: string
            example: test-project
        - name: repoSearchTerm
          in: query
          description: Search term to use when fetch repositories. Repository names matching this term will be fetched.
          schema:
            type: string
        - name: includeSubGroups
          in: query
          description: >-
            Determines whether to include repositories from sub-groups during onboarding. This parameter is optional and applies exclusively to GitLab integrations. When set to true, repositories from
            nested sub-groups will be fetched; otherwise, only top-level group repositories are retrieved. Defaults to false.
          schema:
            type: boolean
            default: false
        - name: _cursor
          in: query
          description: >-
            Number of records to be skipped in relation with the provided limit value, (n-1) * _limit. if the limit is 100 and _cursor value is 2. First 100 records will be skipped. Default value is 1
            if not specified.
          schema:
            type: string
            example: '1'
        - name: _limit
          in: query
          description: Restricts the number of results to the given limit. The default of 100 is used if no value is provided.
          schema:
            type: integer
            default: 100
        - name: X-Polaris-SCM-PAT
          in: header
          description: Personal Access Token
          schema:
            type: string
          required: true
        - name: X-Polaris-SCM-Email
          in: header
          description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory header.)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.polaris.integrations.repos.scm.repo-list-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: '#/components/schemas/repository'
                  _links:
                    type: array
                    items:
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/integrations/repositories?_cursor=20&_limit=10
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/repositories?_cursor=10&_limit=10
                        rel: prev
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/repositories?_cursor=30&_limit=10
                        rel: next
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/repositoryCollection'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unsupportedProvider:
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                    hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
                missingEmail:
                  summary: Missing email for Bitbucket
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  summary: Invalid email format
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An error occurred while listing repositories for the given provider and token. Please check the provider and token info and try again.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for '<SCM_PROVIDER>' currently.
                hint: SCM_PROVIDER can be one of the following options. Azure, Bitbucket, GitHub, GitLab, and Bitbucket Data Center.
  /api/integrations/repos/scm/groups/{groupName}/projects:
    get:
      tags:
        - Bulk import APIs
      operationId: listProjectsByGroup
      summary: Get list of projects from a scm provider for a given group name. This API is supported for Azure SCM provider only.
      description: Get list of projects from a scm provider for a given group name using a personal access token. This API is supported for Azure SCM provider only.
      parameters:
        - name: groupName
          in: path
          description: The name of the group for which projects will be fetched.
          required: true
          schema:
            type: string
        - name: scmProvider
          in: query
          description: Name of the scm provider
          schema:
            $ref: '#/components/schemas/ScmProvider'
        - name: _cursor
          in: query
          description: >-
            Number of records to be skipped in relation with the provided limit value, (n-1) * _limit. if the limit is 100 and _cursor value is 2. First 100 records will be skipped. Default value is 1
            if not specified.
          schema:
            type: string
            example: '1'
        - name: _limit
          in: query
          description: Restricts the number of results to the given limit. The default of 100 is used if no value is provided.
          schema:
            type: integer
            default: 100
        - name: x-polaris-scm-pat
          in: header
          description: Personal Access Token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.polaris.integrations.repos.scm.project-list-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: '#/components/schemas/project'
                  _links:
                    type: array
                    items:
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/scm/integrations/repos/scm/groups/{groupName}/projects?_cursor=20&_limit=10
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/repos/scm/groups/{groupName}/projects?_cursor=10&_limit=10
                        rel: prev
                        method: GET
                      - href: https://polaris.synopsys.com/api/scm/integrations/repos/scm/groups/{groupName}/projects?_cursor=30&_limit=10
                        rel: next
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/repositoryCollection'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Bulk onboarding is not supported for the Azure.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Could not extract Organization-ID from request, Please retry the request.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An error occurred while listing projects for the given provider and token. Please check the provider and token info and try again.
        '501':
          description: Feature Not implemented
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Bulk onboarding is not supported for the Azure.
  /api/integrations/repos/groups-settings:
    patch:
      tags:
        - Sync Settings APIs
      operationId: groupSettings
      summary: Update the repository synchronisation settings on the Group
      description: API to Update the repository synchronisation settings on the Group
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.groups-settings-update-1+json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/GroupsSettingsRequest'
        required: true
      responses:
        '202':
          description: Accepted.
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Application ID required.
        '401':
          description: Unauthorized.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:unauthorized
                title: Unauthorized
                status: 401
                detail: Not authorized to update the group settings.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
        '501':
          description: Feature Not implemented.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Github automatically repository onboarding feature disabled..
    get:
      tags:
        - Sync Settings APIs
      operationId: getGroupSettings
      summary: Get the repository synchronisation settings on the Group.
      description: API to Get the repository synchronisation settings on the Group.
      parameters:
        - name: _filter
          in: query
          description: >-
            Filters the collection of repositories. The filter follows the RSQL syntax. Available keys for filtering are `applicationId` and `groupId`. Supported RSQL operators on the keys are - =in=
            (in operator only). Multiple logical operators and repeated keys are not allowed and only UUID values are supported for the values. More details at `https://github.com/jirutka/rsql-parser`
          schema:
            type: string
            example: |
              [ 
                  applicationId=in=(1d44c6d4-dde4-4c37-b068-9e7eb21c4a19, 1d44c6d4-dde4-4c37-b068-9e7eb21c4a19),
                  groupId=in=(0a50c9ab-7c75-498e-8b18-0d695ca4ef03);repositoryId=in=(1d44c6d4-dde4-4c37-b068-9e7eb21c4a19, 1d44c6d4-dde4-4c37-b068-9e7eb21c4a19), projectId=in=(0a50c9ab-7c75-498e-8b18-0d695ca4ef03, 0a50c9ab-7c75-498e-8b18-0d695ca4ef02)
              ]
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Successful response
          content:
            application/vnd.polaris.integrations.repos.groups-settings-1+json;charset=UTF-8:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupsSettingsResponse'
                  _links:
                    type: array
                    items:
                      properties:
                        href:
                          type: string
                        rel:
                          type: string
                        method:
                          type: string
                    example:
                      - href: https://polaris.synopsys.com/api/integrations/repos/groups-settings?_limit=0
                        rel: self
                        method: GET
                      - href: https://polaris.synopsys.com/api/integrations/repos/groups-settings?_limit=10
                        rel: prev
                        method: GET
                      - href: https://polaris.synopsys.com/api/integrations/repos/groups-settings?_limit=10
                        rel: next
                        method: GET
                  _collection:
                    $ref: '#/components/schemas/groupCollection'
        '400':
          description: Bad request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Bad Request
                status: 400
                detail: Please provide valid filter param, example value==demo.
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
        '501':
          description: Feature Not implemented.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Github automatically repository onboarding feature disabled..
  /api/integrations/repos/groups-settings/connection:
    post:
      tags:
        - Sync Settings APIs
      operationId: groupSettingsConnection
      summary: Test Group Connection
      description: Test Group Connection
      parameters:
        - in: header
          name: X-Polaris-SCM-PAT
          description: Personal Access Token
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/vnd.polaris.integrations.repos.groups-connection-request-1+json;charset=UTF-8:
            schema:
              allOf:
                - $ref: '#/components/schemas/GroupConnectionRequest'
                - properties:
                    email:
                      type: string
                      format: email
                      description: Email Address. (Note - For scmProvider - Bitbucket Cloud, it is a mandatory field.)
                      example: user@email.com
        required: true
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidWorkspaceUrl:
                  summary: Invalid workspace URL
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: Bitbucket bulk onboarding only accepts workspace URLs in the given format https://bitbucket.org/[workspace].
                missingEmail:
                  summary: Missing email for Bitbucket
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is required for Bitbucket Cloud bulk onboarding.
                invalidEmail:
                  summary: Invalid email format
                  value:
                    type: urn:x-scm-integrations:bad-request
                    title: Bad Request
                    status: 400
                    detail: emailID is not valid for Bitbucket Cloud bulk onboarding.
        '403':
          description: Bad Request.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:bad-request
                title: Unauthorized
                status: 403
                detail: SCM provider is required
        '500':
          description: Internal server error.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred.
        '501':
          description: Feature Not implemented.
          content:
            application/problem+json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                type: urn:x-scm-integrations:not-implemented
                title: Not Implemented
                status: 501
                detail: Github automatically repository onboarding feature disabled..
  /api/integrations/repos/group-mapping-status:
    get:
      tags:
        - Sync Settings APIs
      operationId: groupMappingStatus
      summary: Get group mapping status with it's corresponding repositories.
      description: >
        This API retrieves the mapping status of an application to its associated projects. 


        It verifies whether the application is correctly configured with groups or organizations in the SCM provider and whether the projects are properly mapped to repositories within those groups or
        organizations, helping to identify misconfigurations such as projects not being linked to the correct application and ensuring proper synchronization between applications, projects, and
        repositories.
      parameters:
        - name: applicationId
          required: true
          in: query
          description: the unique identifier of the application
          schema:
            type: string
            format: uuid
[...]
