openapi: 3.1.0
info:
  title: Tests
  description: >
    Test refers to the act of finding security issues in an application. Several types of tests can be performed on the application as per the available Entitlements (SAST, SCA, DAST and
    EXTERNAL_ANALYSIS are currently supported). The Test Manager is responsible for managing tests. It provides APIs to create, update, and fetch tests, manage artifacts related to tests.


    **Deprecation notice for media type and base path changes**


    * Media type names used in Polaris APIs were renamed and no longer include “synopsys”. Although media types that include “synopsys” were removed from the API specifications, existing endpoints
    will continue to support them until March 24, 2026. Please update your scripts to use the new media types.

    * Additionally, the base path for the Test Manager service is changing (from `/api/test-manager` to `/api/tests`) resulting in several endpoints getting deprecated. Endpoints that are being
    deprecated include additional properties in response headers as shown below

      * ```
        "Deprecation":  "Sun, 15 Jun 2025 23:59:59 GMT",
        "Link":         "New version of API link; rel=\"alternate\"",
        "Sunset":       "Tue, 24 Mar 2026 05:00:00 GMT"
        ```

        * `Deprecation`: The date and time when a resource will be deprecated. After this date and time, the resource may be removed from future versions of the API.
        * `Link`: A link to a supported endpoint that replicates the functionality of a deprecated one.
        * `Sunset`: The date and time when a resource will be removed, and no longer be available.
  version: 1.0.0
  x-logo:
    icon: fa-wave-pulse
    primary: null
    secondary: null
  contact:
    name: Black Duck, Inc.
    url: https://polaris.blackduck.com/
servers:
  - url: https://polaris.blackduck.com
tags:
  - name: Tests
    description: Provides various operations on tests.
  - name: Test-Artifacts
    description: Provides various operations on artifacts related to tests.
  - name: Test-Profile
    description: Provides various operations on profile related to tests.
security:
  - ApiKeyAuth: []
paths:
  /api/tests:
    get:
      operationId: getTests-v1
      tags:
        - Tests
      summary: |
        Returns all tests.
      description: |
        By default, returns all tests (up to 100 entries) created for the organization and accessible to the current user.
      parameters:
        - name: _filter
          in: query
          description: >-
            Filters the collection of tests. The filter follows the RSQL syntax. Available values for filtering are `applicationId`, `projectId`,`entitlementId`, `streamId`, `state`, `startDate`,
            `expectedEndDate`, `toolId`, `branchId`, `testMode`, `scanMode`, `assessmentType`, `triage` and `updatedDate`. Supported operators for attributes- (==, !=, =in= and =out=). More details at
            `https://github.com/jirutka/rsql-parser`
          schema:
            type: string
            example: |
              [
                applicationId==1d44c6d4-dde4-4c37-b068-9e7eb21c4a19,
                projectId==0a50c9ab-7c75-498e-8b18-0d695ca4ef03 and state==CANCELLED,
                projectId==0a50c9ab-7c75-498e-8b18-0d695ca4ef03 or state==CANCELLED,
                state=in=(CANCELLED,FAILED),
                updatedDate==2023-11-03T17:07:59Z,
                state=out=CANCELLED
              ]
        - name: _sort
          in: query
          description: >-
            Sorts the collection on the provided attributes. Default sorting uses `startDate` in `descending` order. The format of the `_sort` parameter is
            `{field_name}|{asc|desc}[,{field_name}|{asc|desc}[,...]]`. Available values for sorting are `applicationId`, `projectId`,`entitlementId`, `streamId`, `state`, `startDate`,
            `expectedEndDate`, `toolId`, `branchId`, `testMode`, `scanMode`, `assessmentType`, `triage` and `updatedDate`.
          schema:
            type: string
          example: applicationId|asc, applicationId|desc, state|asc
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
        - name: _include
          in: query
          description: >
            Accepted values for `_include` are `comments`,`artifacts`,`tools`. If `comments`/`artifacts`/`tools` are available for the test they are returned in the response if not they will be empty.
            Note- if the include keys are not provided, the attributes are returned back as 'null'.
          schema:
            type: string
          example: _include=comments.
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.polaris.tests.tests-list-1+json:
              schema:
                type: object
                required:
                  - _items
                  - _links
                  - _collection
                properties:
                  _items:
                    type: array
                    items:
                      items:
                        $ref: "#/components/schemas/tests-v2"
                  _links:
                    $ref: "#/components/schemas/links"
                  _collection:
                    $ref: "#/components/schemas/testCollection"
        "400":
          description: Bad request. Note that ID attributes in _filter are not validated for UUID formats.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Unrecognized:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Request cannot be processed, as the passed queryParameter is not recognized
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Request cannot be processed, Invalid Input
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: Requested resource is not found
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
    post:
      operationId: createTests-v1
      tags:
        - Tests
      summary: |
        Creates new tests.
      description: |
        Creates tests in accordance with the available entitlements or assessmentTypes. If multiple entitlements/assessmentTypes are provided, a separate test is created for each.
         **Note:** To create SOURCE_UPLOAD and EXTERNAL_ANALYSIS together, provide testMode=null and artifacts of type THIRD_PARTY_RESULTS and SOURCE_CODE. To create SCM and EXTERNAL_ANALYSIS tests together, provide testMode=null and artifacts of type THIRD_PARTY_RESULTS only.
         **Compatibility matrix for test mode, scan mode, and artifact type:**
        | Assessment Type           | Test Mode                 | Scan Mode               | Artifact Type                       |
        |---------------------------|---------------------------|-------------------------|-------------------------------------|
        | SAST                      | SOURCE_UPLOAD             | CAPTURE_ANALYSIS        | SOURCE_CODE                         |
        | SAST                      | SCM                       | CAPTURE_ANALYSIS        | SOURCE_CODE                         |
        | SAST                      | CI                        | ANALYSIS_ONLY           | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |
        | SCA                       | SOURCE_UPLOAD             | CAPTURE_ANALYSIS        | SOURCE_CODE                         |
        | SCA                       | SCM                       | SCANNING_MATCHING       | SOURCE_CODE                         |
        | SCA                       | CI                        | SCA_SIGNATURE           | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |
        | SCA                       | CI                        | SCA_PACKAGE             | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |
        | DAST                      | DAST_WEBAPP               | DYNAMIC_TEST            | PROFILE_SETTING                     |
        | DAST                      | DAST_PREFLIGHT            | DYNAMIC-PREFLIGHT       | PROFILE_SETTING                     |
        | DAST                      | DAST_API                  | DYNAMIC_TEST            | PROFILE_SETTING, APP_SPEC           |
        | DAST                      | DAST_API_PREFLIGHT        | DYNAMIC-PREFLIGHT       | PROFILE_SETTING, APP_SPEC           |
        | EXTERNAL_ANALYSIS         | THIRD_PARTY_RESULT_UPLOAD | IMPORT-RESULTS          | THIRD_PARTY_RESULTS                 |
        | SAST                      | CI                        | SAST_FULL_ISSUE_UPLOAD  | SCAN_OUTPUT                         |
        | SAST                      | CI                        | SAST_RAPID_ISSUE_UPLOAD | SCAN_OUTPUT                         |

        **Compatibility matrix for bulk test creation:**

        | Assessment Type           | SAST   | SCA     | DAST        | EXTERNAL_ANALYSIS |
        |---------------------------|--------|---------|-------------|-------------------|
        | SAST                      | NO     | YES     | NO          | YES               |
        | SCA                       | YES    | NO      | NO          | YES               |
        | DAST                      | NO     | NO      | YES         | NO                |
        | EXTERNAL_ANALYSIS         | YES    | YES     | NO          | YES               |
      requestBody:
        required: true
        content:
          application/vnd.polaris.tests.tests-bulk-create-1+json:
            schema:
              $ref: "#/components/schemas/createTestRequest-v1"
            examples:
              SAST:
                description: Example of a create test request for SAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afda
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - SAST
                  testMode: SOURCE_UPLOAD
                  branchId: 56b00012-286b-4f25-a97c-50dbab82d506
                  triage: REQUIRED
              SCA:
                description: Example of a create test request for SCA assessment type. Signature scans under SCA can only be created for CI test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afdb
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - SCA
                  testMode: SOURCE_UPLOAD
                  branchId: 56b00012-286b-4f25-a97c-50dbab82d506
                  triage: REQUIRED
                  scanMode: SCANNING_MATCHING
              DAST - Webapp:
                description: Example of a create test request for DAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - DAST
                  testMode: DAST_WEBAPP
                  scanMode: DYNAMIC_TEST
                  profileDetails:
                    id: 4ab85f64-5717-4562-b3fc-2c963f66afb7
              DAST WebApp - Preflight:
                description: Example of a preflight create test request for DAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - DAST
                  testMode: DAST_PREFLIGHT
                  profileDetails:
                    content: >-
                      {"name":"test005","description":"test","subItemType":"DAST","entryPointUrl":"http://example.com","profile":{"name":"123 Main St","allowedHosts":"Springfield,
                      test","performActiveAttack":true,"authentication":{"type":"v0","mode":"SIMPLE_FORM","loginUrl":"http://example.com","simpleFormSetting":{"fields":{"userName":"abc","password":"password"}}}}}
              DAST - API:
                description: Example of a create test request for DAST assessment type and DAST_API test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - DAST
                  testMode: DAST_API
                  profileDetails:
                    id: 4ab85f64-5717-4562-b3fc-2c963f66afb7
              DAST API - Preflight:
                description: Example of a preflight create test request for DAST assessment type and DAST_API test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  notes: This scan is for FooBar project, release 2021.09
                  assessmentTypes:
                    - DAST
                  testMode: DAST_API_PREFLIGHT
                  profileDetails:
                    content: >-
                      {"entryPointUrl":"https://example.com","profile":{"name":"test
                      preflight","type":"API","apiSource":{"format":"postman","specUrl":"https://example.com"},"manualEntry":{"authentication":{"mode":"None"}}}}
              EXTERNAL ANALYSIS:
                description: Example of a create test request for EXTERNAL_ANALYSIS assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  branchId: 4ab85f64-5717-4562-b3f4-2c963f66afb7
                  assessmentTypes:
                    - EXTERNAL_ANALYSIS
                  testMode: THIRD_PARTY_RESULT_UPLOAD
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afdb
      responses:
        "207":
          description: Tests were created successfully. The response contains multiple individual responses, each with its own status, headers, and body within the array.
          content:
            application/vnd.polaris.tests.tests-bulk-1+json:
              schema:
                $ref: "#/components/schemas/createTestResponse-v1"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or one of the ID's specified is not valid or accessible
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:media-type-not-supported
                title: Forbidden
                status: 415
                detail: Content type 'application/vnd.tm.tests-bulk-1.json' not supported
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests:
    get:
      operationId: getTests
      tags:
        - Tests
      summary: |
        Returns all tests.
      description: |
        By default, returns all tests (up to 100 entries) created for the organization and accessible to the current user.

        *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests` instead.*
      parameters:
        - name: id
          in: query
          description: Filters for tests that match the specified test ID.
          schema:
            type: string
          example: 5796d731-4923-4690-b865-1482ae74403d
        - name: applicationId
          in: query
          description: Filters for tests that match the specified application ID.
          schema:
            type: string
          example: a9561105-2b70-4821-9d48-8f7dcaaacb0d
        - name: projectId
          in: query
          description: Filters for tests that match the specified project ID.
          schema:
            type: string
          example: d17552af-cedd-4839-97bc-37048b204e81
        - name: portfolioItemId
          in: query
          description: Filters for tests that match the specified portfolio-item ID.
          schema:
            type: string
          example: e9561105-2b70-4821-9d48-8f7dcaaacb0d
        - name: portfolioSubItemId
          in: query
          description: Filters for tests that match the specified portfolio-subitem ID.
          schema:
            type: string
          example: e9561105-2b70-4821-9d48-8f7dcaaacb0d
        - name: entitlementId
          in: query
          description: Filters for tests that match the specified entitlement ID.
          schema:
            type: string
          example: e9561105-2b70-4821-9d48-8f7dcaaacb0d
        - name: streamId
          in: query
          description: Filter the tests that match the specified stream id.
          schema:
            type: string
          example: e9561105-2b70-4821-9d48-8f7dcaaacb0d
        - name: startDate
          in: query
          description: Filters for tests that match the specified `startDate`. The date format is expected to be `YYYY-MM-DD`.
          schema:
            type: string
            format: date
          example: "2022-08-24"
        - name: expectedEndDate
          in: query
          description: Filters for tests that match the specified `expectedEndDate`. The date format is expected to be `YYYY-MM-DD`.
          schema:
            type: string
            format: date
          example: "2022-08-25"
        - name: testMode
          in: query
          description: Filters for tests that match the specified test mode.
          schema:
            $ref: "#/components/schemas/testMode"
          example: SOURCE_UPLOAD
        - name: scanMode
          in: query
          description: Filters for tests that match the specified scan mode.
          schema:
            type: string
            enum:
              - ANALYSIS_ONLY
              - MATCHING_ONLY
              - CAPTURE_ANALYSIS
              - SCANNING_MATCHING
              - NOT_APPLICABLE
          example: ANALYSIS_ONLY
        - name: toolId
          in: query
          description: Filters for tests that match the specified `toolId`.
          schema:
            type: string
          example: Coverity:Recommended
        - name: shortId
          in: query
          description: Returns short test id
          schema:
            type: string
          example: FFFF000
        - name: branchId
          in: query
          description: Filters for tests that match the specified `branchId`.
          schema:
            type: string
            format: UUID
          example: 31c86a51-dcb3-4161-adbb-777a4ec5a349
        - name: profileId
          in: query
          description: Filters for tests that match the specified `profileId`.
          schema:
            type: string
            format: UUID
          example: 31c86a51-dcb3-4161-adbb-777a4ec5a349
        - name: triage
          in: query
          description: Filters for tests that match the specified triage. Accepted values are REQUIRED, NOT_REQUIRED, NOT_ENTITLED.
          schema:
            type: string
            enum:
              - REQUIRED
              - NOT_REQUIRED
              - NOT_ENTITLED
          example: REQUIRED
        - name: _sort
          in: query
          description: >-
            Sorts the collection on the provided attributes. Default sorting uses `startDate` in `descending` order. The format of the `_sort` parameter is
            `{field_name}|{asc|desc}[,{field_name}|{asc|desc}[,...]]`. Available values for sorting are `portfolioItemId`,`portfolioSubItemId`,`applicationId`, `projectId`,`entitlementId`, `streamId`,
            `state`, `startDate`, `expectedEndDate`, `toolId`, `branchId`, `testMode`, `scanMode`, `assessmentType`, `triage` and `updatedDate`.
          schema:
            type: string
          example: applicationId|asc, applicationId|desc, state|asc
        - name: _filter
          in: query
          description: >-
            Filters the collection of tests. The filter follows the RSQL syntax. Available values for filtering are `portfolioItemId`,`portfolioSubItemId`,`applicationId`, `projectId`,`entitlementId`,
            `streamId`, `state`, `startDate`, `expectedEndDate`, `toolId`, `branchId`, `testMode`, `scanMode`, `assessmentType`, `triage` and `updatedDate`. Supported operators for attributes- (==,
            !=, =in= and =out=). More details at `https://github.com/jirutka/rsql-parser`
          schema:
            type: string
            example: |
              [
                applicationId==1d44c6d4-dde4-4c37-b068-9e7eb21c4a19,
                projectId==0a50c9ab-7c75-498e-8b18-0d695ca4ef03 and state==CANCELLED,
                projectId==0a50c9ab-7c75-498e-8b18-0d695ca4ef03 or state==CANCELLED,
                state=in=(CANCELLED,FAILED),
                updatedDate==2023-11-03T17:07:59Z,
                state=out=CANCELLED
              ]
        - name: _limit
          in: query
          description: >-
            Restricts the number of results to the given limit. The default of 100 is used if no value is provided. If a limit greater than 100 is provided, the response will be "HTTP 400 Bad
            Request."
          schema:
            type: integer
            default: 100
        - name: _offset
          in: query
          description: >-
            Returns results, starting from a given position within the response. For example, if the offset is set to 5, the first four records are not returned. A default value of 0 is used if no
            value is provided. If the offset is beyond the range of the collection, no results are returned.
          schema:
            type: integer
            default: 0
        - name: _include
          in: query
          description: >-
            Accepted values for `_include` are `comments`,`artifacts`(or both). If `comments`/`artifacts` are available for the test they are returned in the response if not they will be empty. Note-
            if the include keys are not provided, the attributes are returned back as 'null'.
          schema:
            type: string
          example: _include=comments.
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.tm.tests-1+json:
              schema:
                type: object
                required:
                  - _items
                  - _links
                  - _collection
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/components/schemas/tests"
                  _links:
                    $ref: "#/components/schemas/links"
                  _collection:
                    $ref: "#/components/schemas/testCollection"
        "400":
          description: Bad request. Note that ID attributes in _filter are not validated for UUID formats.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Unrecognized:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Request cannot be processed, as the passed queryParameter is not recognized
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Request cannot be processed, Invalid Input
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: Requested resource is not found
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
    post:
      operationId: createTests
      tags:
        - Tests
      summary: |
        Creates new tests.
      description: >
        Creates tests in accordance with the available entitlements or assessmentTypes. If multiple entitlements/assessmentTypes are provided, a separate test is created for each.


        **Note:**

        1. To create SOURCE_UPLOAD and EXTERNAL_ANALYSIS together, provide testMode=null and artifacts of type THIRD_PARTY_RESULTS and SOURCE_CODE. To create SCM and EXTERNAL_ANALYSIS tests together,
        provide testMode=null and artifacts of type THIRD_PARTY_RESULTS only.

        2. This endpoint is deprecated and will be removed in the future. Please use `/api/tests` instead.


        **Compatibility matrix for test mode, scan mode, and artifact type:**


        | Assessment Type           | Test Mode                 | Scan Mode         | Artifact Type                       |

        |---------------------------|---------------------------|-------------------|-------------------------------------|

        | SAST                      | SOURCE_UPLOAD             | CAPTURE_ANALYSIS  | SOURCE_CODE                         |

        | SAST                      | SCM                       | CAPTURE_ANALYSIS  | SOURCE_CODE                         |

        | SAST                      | CI                        | ANALYSIS_ONLY     | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |

        | SCA                       | SOURCE_UPLOAD             | CAPTURE_ANALYSIS  | SOURCE_CODE                         |

        | SCA                       | SCM                       | SCANNING_MATCHING | SOURCE_CODE                         |

        | SCA                       | CI                        | SCA_SIGNATURE     | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |

        | SCA                       | CI                        | SCA_PACKAGE       | TOOL_CAPTURE, TOOL_ERROR, CLI_ERROR |

        | DAST                      | DAST_WEBAPP               | DYNAMIC_TEST      | PROFILE_SETTING                     |

        | DAST                      | DAST_PREFLIGHT            | DYNAMIC-PREFLIGHT | PROFILE_SETTING                     |

        | DAST                      | DAST_API                  | DYNAMIC_TEST      | PROFILE_SETTING, APP_SPEC           |

        | DAST                      | DAST_API_PREFLIGHT        | DYNAMIC-PREFLIGHT | PROFILE_SETTING, APP_SPEC           |

        | EXTERNAL_ANALYSIS         | THIRD_PARTY_RESULT_UPLOAD | IMPORT-RESULTS    | THIRD_PARTY_RESULTS                 |


        **Compatibility matrix for bulk test creation:**


        | Assessment Type           | SAST   | SCA     | DAST        | EXTERNAL_ANALYSIS |

        |---------------------------|--------|---------|-------------|-------------------|

        | SAST                      | NO     | YES     | NO          | YES               |

        | SCA                       | YES    | NO      | NO          | YES               |

        | DAST                      | NO     | NO      | YES         | NO                |

        | EXTERNAL_ANALYSIS         | YES    | YES     | NO          | YES               |


        *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests` instead.*
      requestBody:
        required: true
        content:
          application/vnd.tm.tests-bulk-1+json:
            schema:
              $ref: "#/components/schemas/createTestRequest"
            examples:
              SAST:
                description: Example of a create test request for SAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afda
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  assessmentTypes:
                    - SAST
                  testMode: SOURCE_UPLOAD
                  branchId: 56b00012-286b-4f25-a97c-50dbab82d506
                  triage: REQUIRED
              SCA:
                description: Example of a create test request for SCA assessment type. Signature scans under SCA can only be created for CI test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afdb
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  assessmentTypes:
                    - SCA
                  testMode: SOURCE_UPLOAD
                  branchId: 56b00012-286b-4f25-a97c-50dbab82d506
                  triage: REQUIRED
                  scanMode: SCANNING_MATCHING
              DAST - Webapp:
                description: Example of a create test request for DAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  assessmentTypes:
                    - DAST
                  testMode: DAST_WEBAPP
                  scanMode: DYNAMIC_TEST
                  profileDetails:
                    id: 4ab85f64-5717-4562-b3fc-2c963f66afb7
              DAST WebApp - Preflight:
                description: Example of a preflight create test request for DAST assessment type
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  assessmentTypes:
                    - DAST
                  testMode: DAST_PREFLIGHT
                  profileDetails:
                    content: >-
                      {"name":"test005","description":"test","subItemType":"DAST","entryPointUrl":"http://example.com","profile":{"name":"123 Main St","allowedHosts":"Springfield,
                      test","performActiveAttack":true,"authentication":{"type":"v0","mode":"SIMPLE_FORM","loginUrl":"http://example.com","simpleFormSetting":{"fields":{"userName":"abc","password":"password"}}}}}
              DAST - API:
                description: Example of a create test request for DAST assessment type and DAST_API test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  projectId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  assessmentTypes:
                    - DAST
                  testMode: DAST_API
                  profileDetails:
                    id: 4ab85f64-5717-4562-b3fc-2c963f66afb7
              DAST API - Preflight:
                description: Example of a preflight create test request for DAST assessment type and DAST_API test mode.
                value:
                  applicationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  notes: This scan is for FooBar project, release 2021.09
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  assessmentTypes:
                    - DAST
                  testMode: DAST_API_PREFLIGHT
                  profileDetails:
                    content: >-
                      {"entryPointUrl":"https://example.com","profile":{"name":"test
                      preflight","type":"API","apiSource":{"format":"postman","specUrl":"https://example.com"},"manualEntry":{"authentication":{"mode":"None"}}}}
              EXTERNAL ANALYSIS:
                description: Example of a create test request for EXTERNAL_ANALYSIS assessment type
                value:
                  portfolioItemId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  portfolioSubItemId: 4ab85f64-5717-4562-b3fc-2c963f66afb7
                  branchId: 4ab85f64-5717-4562-b3f4-2c963f66afb7
                  assessmentTypes:
                    - EXTERNAL_ANALYSIS
                  testMode: THIRD_PARTY_RESULT_UPLOAD
                  artifacts:
                    - 6cd85f64-5717-4562-b3fc-2c963f66afdb
      responses:
        "207":
          description: Tests were created successfully. The response contains multiple individual responses, each with its own status, headers, and body within the array.
          content:
            application/vnd.tm.tests-bulk-1+json:
              schema:
                $ref: "#/components/schemas/createTestResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or one of the ID's specified is not valid or accessible
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:media-type-not-supported
                title: Forbidden
                status: 415
                detail: Content type 'application/vnd.tm.tests-bulk-1.json' not supported
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/{testId}:
    patch:
      operationId: updateTest-v1
      tags:
        - Tests
      summary: |
        Updates a test.
      description: |
        Supported actions are

        * RESUME - This action is supported on a test that is in WAITING_FOR_CAPTURE (when assessmentType=SAST or SCA).
          + Artifacts (artifacts) and tool information (toolId) is mandatory in the payload to perform this action on tests that have testMode=CI and assessmentType=SAST or SCA.
        * CANCEL - You can cancel the test if its current state is not one of the following: `COMPLETED`, `FAILED`, `CANCELLED`, or `NOT RUN`.
        * FAILED - This action is supported on a test that is in `WAITING_FOR_CAPTURE` for continuous integration workflows. Artifact information in the payload is not required to perform this action.
      parameters:
        - name: testId
          in: path
          description: test ID
          required: true
          schema:
            type: string
            format: uuid
          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
      requestBody:
        required: true
        content:
          application/vnd.polaris.tests.test-actions-1+json:
            schema:
              $ref: "#/components/schemas/updateTestRequestPayload-v1"
      responses:
        "200":
          description: Test updated successfully
          content:
            application/vnd.polaris.tests.test-1+json:
              schema:
                $ref: "#/components/schemas/updateTestResponse-v2"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or one of the ID's specified is not valid or accessible
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not Found
                status: 404
                detail: Requested resource not found
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unsupported media-type
                title: Forbidden
                status: 415
                detail: Unsupported media-type, please retry the request with `application/vnd.tm.test-actions-1+json`
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred while processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request. service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
    get:
      operationId: getTestById-v1
      tags:
        - Tests
      summary: |
        Fetches details of a specified test.
      description: |
        Fetches the details of a test that matches the specified `testId`.
      parameters:
        - name: testId
          in: path
          description: Test identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.polaris.tests.test-1+json:
              schema:
                $ref: "#/components/schemas/getTestByIdResponse-v2"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Please provide valid UUID for test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not Found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Not able to get test data
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests/{testId}:
    patch:
      operationId: updateTest
      tags:
        - Tests
      summary: |
        Updates a test.
      description: |
        Supported actions are

        * RESUME - This action is supported on a test that is in WAITING_FOR_CAPTURE (when assessmentType=SAST or SCA).
        + Artifacts (artifacts) and tool information (toolId) is mandatory in the payload to perform this action on tests that have testMode=CI and assessmentType=SAST or SCA.
        * CANCEL - You can cancel the test if its current state is not one of the following: `COMPLETED`, `FAILED`, `CANCELLED`, or `NOT RUN`.
        * FAILED - This action is supported on a test that is in `WAITING_FOR_CAPTURE` for continuous integration workflows. Artifact information in the payload is not required to perform this action.

        *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests/{testId}` instead.*
      parameters:
        - name: testId
          in: path
          description: test ID
          required: true
          schema:
            type: string
            format: uuid
          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
      requestBody:
        required: true
        content:
          application/vnd.tm.test-actions-1+json:
            schema:
              $ref: "#/components/schemas/updateTestRequestPayload"
      responses:
        "200":
          description: Test updated successfully
          content:
            application/vnd.tm.test-actions-1+json:
              schema:
                $ref: "#/components/schemas/updateTestResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or one of the ID's specified is not valid or accessible
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not Found
                status: 404
                detail: Requested resource not found
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unsupported media-type
                title: Forbidden
                status: 415
                detail: Unsupported media-type, please retry the request with `application/vnd.tm.test-actions-1+json`
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred while processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request. service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
    get:
      operationId: getTestById
      tags:
        - Tests
      summary: |
        Fetches details of a specified test.
      description: |
        Fetches the details of a test that matches the specified `testId`.

        *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests/{testId}` instead.*
      parameters:
        - name: testId
          in: path
          description: Test identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.tm.tests-1+json:
              schema:
                $ref: "#/components/schemas/getTestByIdResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Please provide valid UUID for test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not Found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Not able to get test data
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/{testId}/comments:
    get:
      operationId: getCommentsByTestId-v1
      tags:
        - Tests
      summary: |
        Fetches comments of a test.
      description: Fetches comment of a test that matches the specified `testId`. A maximum of 500 entries are returned and these entries are sorted by the created date in descending order.
      parameters:
        - name: testId
          in: path
          description: Test identifier
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.polaris.tests.tests-comments-1+json:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/components/schemas/comments"
                  _collection:
                    $ref: "#/components/schemas/commentCollection"
                  _links:
                    $ref: "#/components/schemas/links"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests/{testId}/comments:
    get:
      operationId: getCommentsByTestId
      tags:
        - Tests
      summary: |
        Fetches comments of a test.
      description: |
        Fetches comment of a test that matches the specified `testId`. A maximum of 500 entries are returned and these entries are sorted by the created date in descending order.

        *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests/{testId}/comments` instead.*
      parameters:
        - name: testId
          in: path
          description: Test identifier
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.tm.test-comments-1+json:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/components/schemas/comments"
                  _collection:
                    $ref: "#/components/schemas/commentCollection"
                  _links:
                    $ref: "#/components/schemas/links"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/{testId}/test-metrics:
    get:
      operationId: getTestMetricsByTestId-v1
      tags:
        - Tests
      summary: |
        Fetches metrics of a specified test.
      description: >
        Fetches metrics for a test that matches the specified `testId`. Metrics include lines of code, total number of files captured, count of files captured by type, total number of files analyzed
        and duration of the scan.

        **Note:** These metrics would be `null` for tests with assessment types other than SAST.
      parameters:
        - name: testId
          in: path
          description: The test identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.polaris.tests.test-metrics-1+json:
              schema:
                $ref: "#/components/schemas/getTestMetricsByTestIdResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for Test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests/{testId}/test-metrics:
    get:
      operationId: getTestMetricsByTestId
      tags:
        - Tests
      summary: |
        Fetches metrics of a specified test.
      description: >
        Fetches metrics for a test that matches the specified `testId`. Metrics include lines of code, total number of files captured, count of files captured by type, total number of files analyzed
        and duration of the scan.

        **Note:** These metrics would be `null` for tests with assessment types other than SAST. x-feature-flag-description-1: flag: poldeliver-2244-scm-api-taxonomy value: |
          Fetches metrics for a test that matches the specified `testId`. Metrics include lines of code, total number of files captured, count of files captured by type, total number of files analyzed and duration of the scan.

          **Note:**
          1. These metrics would be `null` for tests with assessment types other than SAST.
          2. This endpoint is deprecated and will be removed in the future. Please use `/api/tests/{testId}/test-metrics` instead.
      parameters:
        - name: testId
          in: path
          description: The test identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.tm.test-metrics-1+json:
              schema:
                $ref: "#/components/schemas/getTestMetricsByTestIdResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for Test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/artifacts:
    post:
      operationId: createArtifact-v1
      tags:
        - Test-Artifacts
      summary: |
        Creates an artifact that can be used for testing.
      description: >
        Use in conjunction with APIs that create tests (POST /tests) or update tests (PATCH /tests​/{testId}). If a test has run into issues and entered a paused state, use the same API to upload a
        new artifact.

        **Note:**
          * This API doesn't upload file-contents but returns a URL in `response.signedUrl` that can be used to upload the file-contents.

            * Use the **signedUrl** to perform a PUT operation and pass the file contents along.
              Example below :
             ```
               curl -v --upload-file file-on-the-disk.zip \
                -H "content-disposition:attachment;filename=file-on-the-disk.zip" \
                -H "content-encoding:zip" -H "content-type:application/zip" \
                -H "origin:https://polaris.blackduck.com/api/test-manager/tests" \
                -H "x-goog-content-length-range:100,136840" \
                -H "x-goog-hash:md5=Qubve08nhwspElM4Uf6q1Q==" \
                -H "x-goog-meta-artifact-type:CUSTOMER" \
                -H "x-goog-resumable:start"\
                "<response.signedUrl>"
            ```
          * The value of **fileHash** should be a Base64-encoded
            * We use `gsutil` to calculate hash. For reference: `https://cloud.google.com/storage/docs/gsutil/commands/hash`
            * Use the value generated in md5 from the response.
            * Example to generate the fileHash using command:
            ```
              ~/sources/sigug/WebGoat/.github [main] $ gsutil hash -m dependabot.yml
              Hashes [base64] for dependabot.yml:
              Hash (md5):  snzADfKbKdkcxc0HDZnAnA==
              Operation completed over 1 objects/352.0 B.
            ```
      requestBody:
        required: true
        content:
          application/vnd.polaris.tests.test-artifacts-1+json:
            schema:
              $ref: "#/components/schemas/createArtifact"
      responses:
        "200":
          description: Artifact created successfully
          content:
            application/vnd.polaris.tests.test-artifacts-1+json:
              schema:
                $ref: "#/components/schemas/ArtifactResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or file metadata is not valid
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unsupported media-type
                title: Forbidden
                status: 415
                detail: Unsupported media-type, please retry the request with `application/vnd.tm.test-artifacts-1+json`
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests/artifacts:
    post:
      operationId: createArtifact
      tags:
        - Test-Artifacts
      summary: |
        Creates an artifact that can be used for testing.
      description: >
        Use in conjunction with APIs that create tests (POST /tests) or update tests (PATCH /tests​/{testId}). If a test has run into issues and entered a paused state, use the same API to upload a
        new artifact.

        **Note:**
          * This API doesn't upload file-contents but returns a URL in `response.signedUrl` that can be used to upload the file-contents.

            * Use the **signedUrl** to perform a PUT operation and pass the file contents along.
              Example below :
             ```
               curl -v --upload-file file-on-the-disk.zip \
                -H "content-disposition:attachment;filename=file-on-the-disk.zip" \
                -H "content-encoding:zip" -H "content-type:application/zip" \
                -H "origin:https://polaris.blackduck.com/api/test-manager/tests" \
                -H "x-goog-content-length-range:100,136840" \
                -H "x-goog-hash:md5=Qubve08nhwspElM4Uf6q1Q==" \
                -H "x-goog-meta-artifact-type:CUSTOMER" \
                -H "x-goog-resumable:start"\
                "<response.signedUrl>"
            ```
          * The value of **fileHash** should be a Base64-encoded
            * We use `gsutil` to calculate hash. For reference: `https://cloud.google.com/storage/docs/gsutil/commands/hash`
            * Use the value generated in md5 from the response.
            * Example to generate the fileHash using command:
            ```
              ~/sources/sigug/WebGoat/.github [main] $ gsutil hash -m dependabot.yml
              Hashes [base64] for dependabot.yml:
              Hash (md5):  snzADfKbKdkcxc0HDZnAnA==
              Operation completed over 1 objects/352.0 B.
            ```

          *Note: This endpoint is deprecated and will be removed in the future. Please use `/api/tests/artifacts` instead.*
      requestBody:
        required: true
        content:
          application/vnd.tm.test-artifacts-1+json:
            schema:
              $ref: "#/components/schemas/createArtifact"
      responses:
        "200":
          description: Artifact created successfully
          content:
            application/vnd.tm.test-artifacts-1+json:
              schema:
                $ref: "#/components/schemas/ArtifactResponse"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Bad-Request
                title: Bad request
                status: 400
                detail: Request cannot be processed, as the request-body is not valid or file metadata is not valid
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "415":
          description: Unsupported media-type
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unsupported media-type
                title: Forbidden
                status: 415
                detail: Unsupported media-type, please retry the request with `application/vnd.tm.test-artifacts-1+json`
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in accepting the request, service is not available
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/{testId}/artifacts:
    get:
      operationId: getAllArtifactsByTestId-v1
      tags:
        - Test-Artifacts
      summary: |
        Fetches artifacts metadata for a test that matches the specified `testId`.
      description: |
        Fetches artifacts metadata for a test that matches the specified `testId`.

        **Note:** Only SCREENSHOT artifact-type is listed.
      parameters:
        - name: testId
          in: path
          description: Test identifier
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.polaris.tests.test-artifacts-list-1+json:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/components/schemas/getAllArtifacts"
                  _collection:
                    $ref: "#/components/schemas/getAllArtifactsCollection"
                  _links:
                    $ref: "#/components/schemas/links"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for Test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
  /api/test-manager/tests/{testId}/artifacts:
    get:
      operationId: getAllArtifactsByTestId
      tags:
        - Test-Artifacts
      summary: |
        Fetches artifacts metadata for a test that matches the specified `testId`.
      description: |
        Fetches artifacts metadata for a test that matches the specified `testId`.

        **Note:**
        1. Only SCREENSHOT artifact-type is listed.
        2. This endpoint is deprecated and will be removed in the future. Please use `/api/tests/{testId}/artifacts` instead.
      parameters:
        - name: testId
          in: path
          description: Test identifier
          required: true
          schema:
            type: string
            format: uuid
          example: 5796d731-4923-4690-b865-1482ae74403d
      responses:
        "200":
          description: Successful response
          content:
            application/vnd.tm.test-list-artifacts-1+json:
              schema:
                type: object
                properties:
                  _items:
                    type: array
                    items:
                      $ref: "#/components/schemas/getAllArtifacts"
                  _collection:
                    $ref: "#/components/schemas/getAllArtifactsCollection"
                  _links:
                    $ref: "#/components/schemas/links"
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for Test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Forbidden
                title: Forbidden
                status: 403
                detail: Access denied, cannot access the requested resource
        "404":
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Not-Found
                title: Not found
                status: 404
                detail: No matching records found for testId - 5796d731-4923-4690-b865-1482ae74403d
        "500":
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Error
                title: Internal server error
                status: 500
                detail: Unexpected error occurred in processing the request
        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Service-Unavailable
                title: Service unavailable
                status: 503
                detail: Unexpected error occurred in processing the request
        "504":
          description: Gateway timeout
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Gateway-Timeout
                title: Gateway Timeout
                status: 504
                detail: Error occurred in processing the request within the default timeout
      deprecated: true
  /api/tests/{testId}/artifacts/{artifactId}:
    get:
      operationId: getArtifactByTestId-v1
      tags:
        - Test-Artifacts
      summary: |
        Download the artifact content for a specified test-id and artifact-id.
      description: |
        This API enables the file to be downloaded for the specified testId and artifactId. The artifact-id can be retrieved by calling the `GET /tests/{id}/artifacts` endpoint.

        **Note:** Only SCREENSHOT artifact-type is supported to be downloaded.
      parameters:
        - name: testId
          in: path
          description: The test identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 0a50c9ab-b068-498e-b068-0d695ca4ef03
        - name: artifactId
          in: path
          description: The artifact identifier.
          required: true
          schema:
            type: string
            format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: Successful response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              examples:
                Invalid Input:
                  value:
                    type: urn:x-test-manager:Bad-Request
                    title: Bad request
                    status: 400
                    detail: Please provide valid UUID for Test Id field
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
              example:
                type: urn:x-test-manager:Unauthorized
                title: Unauthorized
                status: 401
                detail: Operation is not permitted
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/errorBody"
[...]
